<template>

  <div id="compare-days" class="c-paper c-paper--big">

    <div class="c-compare__head">

        <div v-if="page=='days'" class="c-compare__title">How does today compare with other days?</div>     
        <div v-else class="c-compare__title">What has this week been like?</div>
    
      <div class="c-compare__menu">
        <div data-target='compare-days' class="c-btn-square" v-bind:class="{ active: (page=='days') }" @click="changeTab('days')">
          <div class="c-btn-square__content">
            days
          </div>
        </div>
        <div data-target='compare-weeks' class="c-btn-square" v-bind:class="{ active: (page=='weeks') }" @click="changeTab('weeks')">
          <div class="c-btn-square__content">
            weeks
          </div>
        </div>
      </div>
    </div>
  
    
    <div v-if="page=='days'"><!-- start days -->
      <div class="c-compare__vs">

        <div class="c-arrow c-arrow--right">
          <div class="c-arrow__body">
            <div class="c-arrow__txt">
              <span class="c-arrow__title">{{ this.data.trips[this.data.latest_trip].display_date.today }} {{ this.data.trips[this.data.latest_trip].display_date.day_of_week }}</span>
              <span class="c-arrow__desc">{{ this.data.trips[this.data.latest_trip].display_date.day }}{{ this.data.trips[this.data.latest_trip].display_date.ordinal }}
              {{ this.data.trips[this.data.latest_trip].display_date.month }}</span>
            </div>
            <svg class="c-icon--l" viewBox="0 0 50 50">
              <use :xlink:href="'#svg-' + this.data.weather[this.data.trips[this.data.latest_trip].weather_id].class_name"></use>
            </svg>
          </div><div class="c-arrow__head"></div>
        
        </div><!-- 

         --><div class="c-arrow__vs">vs</div><!-- 
        
         --><div class="c-arrow c-arrow--left">
          <div class="c-arrow__head"></div><div v-if="maxDayNum>=1" class="c-arrow__body">
            <div class="c-btn-triangle c-btn-triangle--left c-btn-triangle--white" v-bind:class="{ 'inactive': dayNum>=maxDayNum }">
              <div class="c-btn-triangle__content" @click="changeDay('previous')"></div>
            </div>
            <div class="c-arrow__txt">
              <span class="c-arrow__title">{{ this.data.trips[getTripKey()].display_date.day_of_week }}</span>
              <span class="c-arrow__desc">{{ this.data.trips[getTripKey()].display_date.day }}{{ this.data.trips[getTripKey()].display_date.ordinal }}
              {{ this.data.trips[getTripKey()].display_date.month }}</span>
            </div>
            <svg class="c-icon--l" viewBox="0 0 50 50">
              <use :xlink:href="'#svg-' + this.data.weather[this.data.trips[getTripKey()].weather_id].class_name"></use>
            </svg>
            <div class="c-btn-triangle c-btn-triangle--right c-btn-triangle--white" v-bind:class="{ 'inactive': dayNum<=1 }">
              <div class="c-btn-triangle__content" @click="changeDay('next')"></div>
            </div>
          </div><!-- 
         --><div v-else class="c-arrow__body"></div>
        </div>
      </div>

      <div class="c-chart-key">Number of trips per mode</div>

      <div class="chart">
          <div class="ct-chart ct-chart--duo"></div>
      </div>

      <div class="c-stats__key">
        <div class="c-key">
          <div v-for='item in this.data.modes' class="c-key__item">
            <div :class="'c-icon--round c-icon--' + item.class_name">
              <!-- viewbox custom change -->
              <svg v-if='item.class_name === "wheelchair"' class="c-icon--l" viewBox="0 0 40 50">
                <use :xlink:href="'#svg-' + item.class_name"></use>
              </svg>
              <svg v-else class="c-icon--l" viewBox="0 0 50 50">
                <use :xlink:href="'#svg-' + item.class_name"></use>
              </svg>
            </div>  
            <div class="c-key__label">
              {{ item.name }}
            </div>                 
          </div>               
        </div>
      </div>

    </div><!-- end days -->

    
    <div v-else class="c-compare__columns"><!-- start weeks -->
        
      <div class="c-compare__column" v-for='i in this.data.weeks[0]'>
          <div class="c-ribbon"><strong class="c-ribbon__content"><h1>{{ i.formatted }}</h1></strong></div>
          
          <div class="c-compare__column-content">
            <div v-if="!data.trips[i.date]">
              What do you think this day will be like?
            </div>
            <div v-else>
              <div class="c-compare-week__item">
                <div class="c-compare-week__desc">Weather</div>
                <svg class="c-icon--xl c-icon--label" viewBox="0 0 50 50">
                  <use :xlink:href="'#svg-' + data.weather[data.trips[i.date].weather_id].class_name"></use>
                </svg>
              </div>

              <div class="c-compare-week__item">
                <div class="c-compare-week__desc">Pupils in</div>
                <svg class="c-icon--xl c-icon--orange" viewBox="0 0 50 50">
                  <use xlink:href="#svg-pupils"></use>
                </svg>
                <div class="c-compare-week__pupilsno">{{ data.trips[i.date].total_trips }}</div>
              </div>

              <div class="c-compare-week__item c-compare-week__modes">
                <!-- viewbox custom change -->
                <svg v-if='data.modes[data.trips[i.date].most].class_name === "wheelchair"' class="c-icon c-icon--xl" viewBox="0 0 40 50">
                  <use :xlink:href="'#svg-' + data.modes[data.trips[i.date].most].class_name"></use>
                </svg>
                <svg v-else class="c-icon c-icon--xl" viewBox="0 0 50 50">
                  <use :xlink:href="'#svg-' + data.modes[data.trips[i.date].most].class_name"></use>
                </svg>
                <!-- viewbox custom change -->
                <svg v-if='data.modes[data.trips[i.date].least].class_name === "wheelchair"' class="c-icon c-icon--s" viewBox="0 0 40 50">
                  <use :xlink:href="'#svg-' + data.modes[data.trips[i.date].least].class_name"></use>
                </svg>
                <svg v-else class="c-icon c-icon--s" viewBox="0 0 50 50">
                  <use :xlink:href="'#svg-' + data.modes[data.trips[i.date].least].class_name"></use>
                </svg>
                <!--  -->
                <div v-bind:class="'c-compare-week__desc c-compare-week__desc--' + data.modes[data.trips[i.date].most].class_name">Most popular</div>
                <ul class="c-dots">
                  <li v-bind:class="'c-dot c-dot--big c-dot--' + data.modes[data.trips[i.date].most].class_name"></li>
                  <li v-bind:class="'c-dot c-dot--' + data.modes[data.trips[i.date].least].class_name"></li>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="30">
                    <defs>
                      <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                      </filter>
                    </defs>
                  </svg>
                </ul>
                <div v-bind:class="'c-compare-week__desc last c-compare-week__desc--' + data.modes[data.trips[i.date].least].class_name">Least popular</div>
              </div>

              
            </div>
          </div>
      </div>       
      
    </div><!-- end weeks -->


  </div>

</template>

<script>

  export default {
    props:{
      child:{
        type:String,
        required:true
      },
      data:{
        type:Object,
        required:true
      }
    },

    data () {
      return { 
        page:"",
        defaultTab:"days",
        dayNum:1,
        maxDayNum:Object.keys(this.data.trips).length-1
      }
    },

    beforeMount () {
      this.changeTab(this.defaultTab);
    },

    /*mounted() {  
      this.showChart();
    },*/
    
    methods: {
      changeTab: function(tab) {
        this.page=tab;
        console.log("change tab");
        if(tab=="days"){ this.showChart(); }
      },

      changeDay: function(act) {
        switch (act) {
            case 'next':
              if(this.dayNum>1){ this.dayNum--; this.showChart(); }
              break;
            case 'previous':
              if(this.dayNum<this.maxDayNum){ this.dayNum++; this.showChart(); }
              break;
          }
      },

      getTripKey: function() {
        return Object.keys(this.data.trips)[this.dayNum];
      },

      showChart: function(){
        var arrToday=[];
        var arrOther=[];
        
        for(var i in this.data.modes){
          if(this.maxDayNum>=0){
            arrToday.push(this.data.trips[this.data.latest_trip].modes[i]);
          }
          if(this.maxDayNum>=1){
            arrOther.push(this.data.trips[this.getTripKey()].modes[i]);
          }
        }
        
        var data = {
          series: [
            arrToday,
            arrOther
          ]
        };

        var options = {
          seriesBarDistance: 10,
          //distributeSeries: true
          chartPadding: 0,
          fullWidth: true,
          showLabel: false,
          axisX: {
            showGrid: false,
            showLabel: false,
            offset: 0,
            categorySpacing: 0
          },
          axisY: {
            showGrid: false,
            showLabel: false,
            offset: 0,
            onlyInteger: true
          },
          plugins: [
            Chartist.plugins.ctBarLabels()
          ]
        };

        var responsiveOptions = [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 20,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0];
              }
            }
          }]
        ];

        //new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
        setTimeout(function(){         
            new Chartist.Bar('.ct-chart', data, options, responsiveOptions);                     
        }, 100);
      }
    }
    
  }

</script>

<style>



</style>