<template>

  <div id="compare-year" class="c-paper c-paper--big" v-bind:data-item="popupCallBack">

	<div class="c-compare__head">
        <div class="c-compare__title">How does our year compare with the rest of {{ this.data.yearData.regionData[local_authority_selected].name }}?</div>
		<div class="c-btn c-btn--white" @click="changeRegion()">
			<div class="c-btn__content">Change Region</div>
		</div>
	</div>

	<div class="c-compare__vs">

        <div class="c-arrow c-arrow--right">
          <div class="c-arrow__body">
            <div class="c-arrow__txt">
              <span class="c-arrow__title">{{ this.data.yearData.local.name }} Year {{ this.data.yearData.local.year }}</span>
              <span class="c-arrow__desc">{{ this.data.yearData.local.number_of_pupils }} pupils</span>
            </div>
          </div><div class="c-arrow__head"></div>
        
        </div><!-- 

         --><div class="c-arrow__vs">vs</div><!-- 
        
         --><div class="c-arrow c-arrow--left">
          <div class="c-arrow__head"></div><div class="c-arrow__body">
            <div class="c-arrow__txt">
              <span class="c-arrow__title">{{ this.data.yearData.regionData[local_authority_selected].name }} Year {{ this.data.yearData.regionData[local_authority_selected].year }}</span>
              <span class="c-arrow__desc">{{ this.data.yearData.regionData[local_authority_selected].number_of_pupils }} pupils</span>
            </div>
            </div>
          </div>

      </div>

      <div class="c-chart-key">Percentage of trips per mode</div>

      <div class="chart">
          <div class="ct-chart ct-chart--duo"></div>
      </div>

      <div class="c-stats__key">
        <div class="c-key">
          <div v-for='item in this.data.modes' class="c-key__item">
            <div :class="'c-icon--round c-icon--' + item.class_name">
              <!-- viewbox custom change -->
              <svg v-if='item.class_name === "wheelchair"' class="c-icon--l" viewBox="0 0 40 50">
                <use :xlink:href="'#svg-' + item.class_name"></use>
              </svg>
              <svg v-else class="c-icon--l" viewBox="0 0 50 50">
                <use :xlink:href="'#svg-' + item.class_name"></use>
              </svg>
            </div>  
            <div class="c-key__label">
              {{ item.name }}
            </div>                 
          </div>               
        </div>
      </div>

      <div class="c-column__key">
	      <div>{{ this.data.yearData.local.name }} Year {{ this.data.yearData.local.year }}</div>
	      <div>{{ this.data.yearData.regionData[local_authority_selected].name }} Year {{ this.data.yearData.regionData[local_authority_selected].year }}</div>
      </div>

	</div>

</template>

<script>

  export default {
    
    props:{
    	child:{
	        type:String,
	        required:true
		},
		data:{
			type:Object,
			required:true
		}
    },
    
    data () {
      return {
      	local_authority_selected:0
      }
    },

    computed: {
	    popupCallBack: function () {
        	return this.$store.getters.popupCallBack;
		},
		popupData: function () {
			return this.$store.getters.popupData;
		}
	},

    beforeMount () {
      this.showChart();
    },

	beforeUpdate () {
	  console.log("before update")
      if(this.popupCallBack=="region"){
        this.local_authority_selected=this.popupData.content.local_authority_selected;
        this.showChart();
        this.$store.dispatch('removePopupCallBack');
	  }
    },

    methods: {
    	changeRegion: function() {
	        var childData = {
		        child:this.child,
		        data:{
		        	type:"region",
		            content: {
		              regions:this.data.regions,
		              local_authority_selected:this.local_authority_selected
		            },
		            buttons:[
		              {txt:"Ok", val:"region"}
		            ]
		        }
		    };
	        this.$store.dispatch('popup', childData);
	    },

	    showChart: function(){
	        var arrToday=[];
	        var arrOther=[];
	        
	        for(var i in this.data.modes){
	          //if(this.data.yearData.local){
	            arrToday.push(this.data.yearData.local.modes[i]);
	          //}
	          //if(this.data.yearData.regionData[this.local_authority_selected]){
	            arrOther.push(this.data.yearData.regionData[this.local_authority_selected].modes[i]);
	          //}
	        }
	        
	        var data = {
	          series: [
	            arrToday,
	            arrOther
	          ]
	        };

	        var options = {
	          seriesBarDistance: 10,
	          //distributeSeries: true
	          chartPadding: 0,
	          fullWidth: true,
	          showLabel: false,
	          axisX: {
	            showGrid: false,
	            showLabel: false,
	            offset: 0,
	            categorySpacing: 0
	          },
	          axisY: {
	            showGrid: false,
	            showLabel: false,
	            offset: 0,
	            onlyInteger: true
	          },
	          plugins: [
	            Chartist.plugins.ctBarLabels()
	          ]
	        };

	        var responsiveOptions = [
	          ['screen and (max-width: 640px)', {
	            seriesBarDistance: 20,
	            axisX: {
	              labelInterpolationFnc: function (value) {
	                return value[0];
	              }
	            }
	          }]
	        ];

	        setTimeout(function(){         
	            new Chartist.Bar('.ct-chart', data, options, responsiveOptions);                     
	        }, 100);
    	}

    }
  }

</script>

<style>



</style>