<template>

  <main id="compare" v-bind:data-item="popupCallBack">

      <div class="c-page-title">
          <h4>&nbsp;</h4>
          <h2>Compare</h2>
        <!-- <div class="c-page-title__ribbon">
        <strong class="c-page-title__ribbon__content">
          <h2>Compare</h2>
        </strong>
        </div> -->
      </div>
      <div class="c-tab-menu">
        <div class="c-tab-menu__btn" v-bind:class="{ active: (page=='class') }" @click="changeTab('class')">Our Class</div>
        <!-- <div class="c-tab-menu__btn" v-bind:class="{ active: (page=='year') }" @click="changeTab('year')">Our Year</div>
        <div class="c-tab-menu__btn" v-bind:class="{ active: (page=='school') }" @click="changeTab('school')">Our School</div> -->
      </div>


      <div class="c-container">
        <div class="loader" v-if="!this.loaded">
          Loading...
        </div>
        <div v-else>
          <div v-if="page=='class'">
            <CompareClass v-bind:child="page" v-bind:data="this.jsonData"></CompareClass>
          </div>
          <div v-if="page=='year'">
            <CompareYear v-bind:child="page" v-bind:data="this.jsonData"></CompareYear>
          </div>
          <div v-if="page=='school'">
            <CompareSchool v-bind:child="page" v-bind:data="this.jsonData"></CompareSchool>
          </div>
        </div>
      </div>  

      <div class="c-container">
        <div class="c-flex-container">
          <div class="c-info-block">
            <div class="c-info-block__icon">?</div>
            <div class="c-info-block__txt">What difference did the weather make?</div>
          </div>
          <div class="c-info-block">
            <div class="c-info-block__icon">?</div>
            <div class="c-info-block__txt">Which day had the most cycle journeys?</div>
          </div>  
          <div class="c-info-block">
            <div class="c-info-block__icon">?</div>
            <div class="c-info-block__txt">Which day had the least train journeys?</div>
          </div>  
        </div>
      </div>

  </main>

</template>

<script>
  // Vendor imports
  import Vue from 'vue';
  import VueResource from 'vue-resource';
  import VueRouter from 'vue-router';

  // App imports
  import CompareClass from './CompareClass.vue'
  import CompareYear from './CompareYear.vue'
  import CompareSchool from './CompareSchool.vue'

  // Initialise the app to use Vue Resource 
  Vue.use(VueResource);

  export default {
    components: {
      CompareClass, CompareYear, CompareSchool
    },

    props:{
      child:String,
      data:Object
    },

    data () {
      return { 
        initial:true,
        page:"",
        defaultTab:"class"
      }
    },

    computed: {
      jsonData: function () {
        return this.$store.state.pageData;
      },
      loaded: function () {
        return this.$store.state.loaded;
      },
      popupCallBack: function () {
          return this.$store.getters.popupCallBack;
      },
      popupData: function () {
        return this.$store.getters.popupData;
      }
    },

    beforeMount () {
      this.changeTab(this.defaultTab);
    },
    
    beforeUpdate () {
      //console.log("-- Compare beforeUpdate --");
      /*if(this.initial){
        this.initial=false;
        if (!this.jsonData.pupils_in){
          this.page="travel";
        } else if (!this.jsonData.weather_selected){
          this.page="weather";
        }else{
          this.page="results";
        }
      }else if(this.jump){
        this.page=this.jumpTo;
        this.$store.dispatch('jumpComplete');
      }*/
    },

    methods: {
      changeTab: function(tab) {
        //this.$store.dispatch('popupClose', val);
        this.page=tab;
        this.loadTab(tab);
      },

      loadTab: function(tab) {
        //console.log(num);
        var childData = {
          //child:this.child, // TODO:capture page name from app
          child:"compare",
          url:"app/compare/"+((tab)?tab:this.defaultTab)
        };
        this.$store.dispatch('load', childData);
      }
    }

  }

</script>

<style>



</style>