<template>

  <div id="compare-school" class="c-paper c-paper--big">

Our School content

  </div>

</template>

<script>

  export default {
    props:{



    },
    
    methods: {


    },
  }

</script>

<style>



</style>