body, html {
	background:transparent linear-gradient(#B1D8F0, #E0EEF9) no-repeat fixed;
	overflow-x: hidden;
}
a {
	&:hover {
		text-decoration: none;
	}
}
h2 {
	font-size: 3rem;/* 2.2 */
}
h4 {
	font-size: 1.6rem;
}
main {
	box-sizing: border-box;
	padding: 0 30px;	
	position: relative;
	z-index:100;
}