
<template>

  <div id="body">
    
    <div v-if="page=='home'">
     <Home></Home>
    </div>
    
    <div v-if="page=='compare'">
      <Compare></Compare>
    </div>
    
    <div v-if="page=='leaderboard'">
      <Leaderboard></Leaderboard>
    </div>
  
  </div>

</template>

<script>

// Vendor imports
import Vue from 'vue'
import VueResource from 'vue-resource'
import VueRouter from 'vue-router'

// App imports
import Home from './Home/Home.vue'
import Compare from './Compare/Compare.vue'
import Leaderboard from './Leaderboard/Leaderboard.vue'

// Initialise the app to use Vue Resource 
Vue.use(VueResource);


 
export default {

  //name: 'main',

  components: {
    Home, Compare, Leaderboard
  },

  data () {
    return { page:"home" }
  }

}
</script>

<style>


</style>
