<template>

  <header id="header">   
    <div class="c-main-menu" v-if="!publicSite">
      <a href="/dashboard" class="c-main-menu__btn--s c-main-menu__btn">
        <svg class="c-icon--xs" viewBox="0 0 50 50">
          <use xlink:href="#svg-home"></use>
        </svg></a>
      <router-link to="/add-journeys" exact class="c-main-menu__btn" >
        <svg class="c-icon--xs" viewBox="0 0 50 50">
          <use xlink:href="#svg-sign"></use>
        </svg>Add journeys        
      </router-link> 
      <router-link to="/compare" exact class="c-main-menu__btn" >         
        <svg class="c-icon--xs" viewBox="0 0 50 50">
          <use xlink:href="#svg-scale"></use>
        </svg>Compare
      </router-link>    
      <router-link to="/leaderboard" exact class="c-main-menu__btn" >  
        <svg class="c-icon--xs" viewBox="0 0 50 50">
          <use xlink:href="#svg-cup"></use>
        </svg>Leaderboard
      </router-link>  
    </div>
    <div class="c-logo"></div>
  </header>

</template>

<script>

  export default { 

    computed: {
      publicSite: function () {
        return this.$store.getters.publicSite;
      }
    }

  }

</script>

