<template>
  <transition>
    <div class="c-popup" id="popup" v-if="this.popupShow">
    
      <div class="c-popup__box" id="alert" v-if="this.popupData.type=='alert'">
        <div class="" v-html="this.popupData.msg"></div>
        <div v-for="item in this.popupData.buttons" class="c-btn c-btn--green" v-bind:class="{ 'c-btn--white': item.txt=='No', 'c-btn-small': (popupData.buttons.length>1) }">
          <button class="c-btn__content" v-bind:class="{ 'c-btn--green--border': item.txt=='No' }" v-text="item.txt" v-on:click="clickPress(item.val)"></button>
        </div>
      </div><!-- end alert -->


      <div class="c-popup__box js-edit-modes" v-if="this.popupData.type=='edit-modes'">
        <h2>Edit today's journeys</h2>
        <!-- <div class="c-btn c-btn--green c-btn--xs c-btn--close"><div class="c-btn__content c-btn__content--close">x</div></div> -->
        <div class="c-btn c-btn--white c-btn-small c-btn--close">
          <button class="c-btn__content c-btn--green--border" @click="clickPress(null)">Cancel</button>
        </div>

        <br>
        <div class="c-popup__modes">

          <div class="c-box" v-for="mode in this.popupData.content.modes">
            <h4>{{ mode.name }}</h4>
            
            <div class="c-btn c-btn--red c-btn--xs" @click="clickCount(mode, '-')">
              <div class="c-btn__content">-</div>
            </div>
            <div class="c-popup__modeno">{{ mode.counter }}</div>
            <div class="c-btn c-btn--green c-btn--xs" @click="clickCount(mode, '+')">
              <div class="c-btn__content">+</div>
            </div>
          </div>
        </div>
         <div class="c-pupils-counter">
          <span class="c-pupils-counter__in">{{ this.popupData.content.pupils_in }}</span>/<span class="c-pupils-counter__total">{{ this.popupData.content.number_of_pupils }}</span> pupils have arrived 
          
        </div>
        <div v-for="item in this.popupData.buttons" class="c-btn c-btn--green">
          <button class="c-btn__content" v-text="item.txt" v-on:click="clickPress(item.val)"></button>
        </div>
      </div><!-- end edit-modes -->


      <div class="c-popup__box js-region" v-if="this.popupData.type=='region'">
        <h2>Choose a region</h2>
        <br>
        <div class="c-popup__modes">

          <div class="c-box" v-for="region in this.popupData.content.regions" v-bind:class="{ active: (region.id==popupData.content.local_authority_selected) }" @click="clickRegion(region.id)">
            <div class="c-podium__name">{{ region.name }}</div>
            <div class="c-podium__details">{{ region.schools }} schools taking part</div>
          </div>
        </div>
        <div v-for="item in this.popupData.buttons" class="c-btn c-btn--green">
          <button class="c-btn__content" v-text="item.txt" v-on:click="clickPress(item.val)"></button>
        </div>
      </div><!-- end region -->


      <div class="c-popup__box js-info" v-if="this.popupData.type=='info'">
        <h4>Journeys made by {{ this.popupData.content.schoolData.name }}</h4>
        <div class="c-popup__content">
          <div class="chart">
              <div class="ct-chart ct-chart--pie"></div>
          </div>
          <div class="c-popup__key">
            <div class="c-key">
              <div v-for='item in this.popupData.content.modes' class="c-key__item">
                 <div class="c-key__label">
                  {{ item.name }}
                </div>
                <div :class="'c-icon--round c-icon--' + item.class_name">
                  <!-- viewbox custom change -->
                  <svg v-if='item.class_name === "wheelchair"' class="c-icon--l" viewBox="0 0 40 50">
                    <use :xlink:href="'#svg-' + item.class_name"></use>
                  </svg>
                  <svg v-else class="c-icon--l" viewBox="0 0 50 50">
                    <use :xlink:href="'#svg-' + item.class_name"></use>
                  </svg>
                </div>  
                <div class="c-key__label">               
                  <div v-bind:class="'c-key__no c-key__no--'+item.class_name"><span>{{ convertScoreToPercent(item.id) }}</span>%</div>
                </div>                 
              </div>               
            </div>
         </div>
        </div>
        <div v-for="item in this.popupData.buttons" class="c-btn c-btn--green">
          <button class="c-btn__content" v-text="item.txt" v-on:click="clickPress(item.val)"></button>
        </div>
      </div><!-- end info -->


    </div>
   </transition> 
</template>

<script>

  export default {

    props:{
      popupShow:Boolean,
      popupData:Object
    },

    data () {
      return {}
    },

    /*beforeUpdate () {
      console.log("-- popup beforeUpdate --");
    },*/

    methods: {
    
      clickPress: function(val) {
        this.$store.dispatch('popupClose', val);
      },
      
      clickCount: function(mode, operator){
        if(operator=="+" && this.popupData.content.pupils_in<this.popupData.content.number_of_pupils){
          mode.counter++;
          this.popupData.content.pupils_in++;
        }else if(operator=="-" && this.popupData.content.pupils_in>0 && mode.counter>0){
          mode.counter--;
          this.popupData.content.pupils_in--;
        }
      },
      
      clickRegion: function(id){
        this.popupData.content.local_authority_selected=id;
      },
      
      convertScoreToPercent: function(val){
        var percent=Math.round(( this.popupData.content.schoolData.modes[val] / this.popupData.content.schoolData.trips * 100) * 10) / 10;
        return (isNaN(percent))?0:percent;
      }
    }
  }


</script>

<style>



</style>