<template>

    <main id="leaderboard" class="o-page--leaderboard" v-bind:data-item="popupCallBack">
        <div class="loader" v-if="!this.loaded">
            Loading...
        </div>
        <div v-else>

            <div class="c-page-title">
                <h4>&nbsp;</h4>
                <h2>Leaderboard</h2>
                <!-- <h2>Leaderboard: {{ jsonData.leaderboard.local_authority_name }}</h2> -->
                <div class="c-btn c-btn--white"></div>
                <!-- <div class="c-btn c-btn--white" @click="changeRegion()">
                    <div class="c-btn__content">Change Region</div>
                </div> -->
            </div>

            <div class="c-container">

                <div class="c-podium">
                    <div class="c-podium__item" v-for='i in top3'>

                        <div v-if="jsonData.top3[i.pos-1]">
                            <!-- <div v-bind:class="'c-podium__cup c-podium__cup--' + i.class_name">{{ i.pos }}</div> -->
                            <div v-bind:class="'c-podium__cup c-podium__cup--' + i.class_name">
                                <span>{{i.pos}}</span>
                                <svg class="c-icon--xl" viewBox="0 0 50 50">
                                    <use xlink:href="#svg-cup"></use>
                                </svg>
                            </div>

                            <div class="c-podium__shadow"></div>
                            <div class="c-podium__info">
                                <div class="c-podium__name">{{ jsonData.top3[i.pos-1].name }}</div>
                                <div class="c-podium__details">{{ jsonData.top3[i.pos-1].pupils }} pupils, {{ jsonData.top3[i.pos-1].classes }} classes taking part</div>
                                <!--<div class="c-podium__points">{{ jsonData.top3[i.pos-1].score }} <small>%</small></div>-->
                            </div>
                        </div>

                    </div>
                </div><!-- end podium -->

                <div v-if="showSchool">
                    <h4>Our school</h4>
                    <table class="c-leaderboard c-leaderboard--solo c-leaderboard--us">
                        <tr>
                            <td class="c-leaderboard__pos">{{ this.jsonData.school.pos }}</td>
                            <td class="c-leaderboard__school">{{ this.jsonData.school.name }}</td>
                            <td class="c-leaderboard__mode">
                            	<!-- viewbox custom change -->
                            	<svg v-if='this.jsonData.modes[this.jsonData.school.most].class_name === "wheelchair"' class="c-icon--xs" viewBox="0 0 40 50">
                                    <use :xlink:href="'#svg-' + this.jsonData.modes[this.jsonData.school.most].class_name"></use>
                                </svg>
                                <svg v-else class="c-icon--xs" viewBox="0 0 50 50">
                                    <use :xlink:href="'#svg-' + this.jsonData.modes[this.jsonData.school.most].class_name"></use>
                                </svg>
                            </td>
                            <td class="c-leaderboard__score">{{ this.jsonData.school.score }}</td>
                            <td class="c-leaderboard__info">
                                <div class="c-btn c-btn--green">
                                    <div class="c-btn__content" @click="showInfo(jsonData.school)">Info</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <h4>All {{ this.jsonData.regions[this.jsonData.leaderboard.local_authority_selected].schools }} schools taking part</h4>
                <table class="c-leaderboard">
                    <thead>
                    <tr>
                        <th>Position</th>
                        <th>School</th>
                        <th>Most Popular</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="i in this.jsonData.leaderboard.table[pgNum]">
                        <td class="c-leaderboard__pos">{{ (i.joint)? "=":i.pos }}</td>
                        <td class="c-leaderboard__school">{{ i.name }}</td>
                        <td class="c-leaderboard__mode">
                        	<!-- viewbox custom change -->
                        	<svg v-if='jsonData.modes[i.most].class_name === "wheelchair"' class="c-icon--xs" viewBox="0 0 40 50">
                                <use :xlink:href="'#svg-' + jsonData.modes[i.most].class_name"></use>
                            </svg>
                            <svg v-else class="c-icon--xs" viewBox="0 0 50 50">
                                <use :xlink:href="'#svg-' + jsonData.modes[i.most].class_name"></use>
                            </svg>
                        </td>
                        <td class="c-leaderboard__score">{{ i.score }}</td>
                        <td class="c-leaderboard__info">
                            <div class="c-btn c-btn--green">
                                <div class="c-btn__content" @click="showInfo(i)">Info</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="pagination" class="c-pagination"></div>
            </div>
        </div>
    </main>

</template>

<script>

	export default {

		props: {},

		data () {
			return {
				top3:              {
					1: {pos: 2, class_name: "silver"},
					2: {pos: 1, class_name: "gold"},
					3: {pos: 3, class_name: "bronze"}
				},
				defaultRegion:     0,
				pgNum:             1,
				refreshPagination: false,
				showSchool:        false,
				initCheck:         true
			}
		},

		computed: {
			jsonData: function () {
				return this.$store.state.pageData;
			},
			loaded: function () {
				return this.$store.state.loaded;
			},
			popupCallBack: function () {
				return this.$store.getters.popupCallBack;
			},
			popupData: function () {
				return this.$store.getters.popupData;
			},
			publicSite: function () {
		        return this.$store.getters.publicSite;
		    }
		},

		//beforeCreate () {},

		created () {
			this.loadRegion(this.defaultRegion);
			//this.loadRegion(1);
		},

        /*mounted () {
         console.log("mounted")
         },*/

		beforeUpdate () {
			console.log("before update")
			if (this.initCheck && this.loaded) {
				this.initCheck = false;
				this.checkRegion();
				var _this = this;
				setTimeout(function () {
					_this.initPagination(Object.keys(_this.jsonData.leaderboard.table).length);
				}, 500);
			} else if (!this.loaded) {
				this.initCheck = true;
			}
			if (this.popupCallBack == "region") {
				this.refreshPagination = true;
				this.loadRegion(this.popupData.content.local_authority_selected);
				this.$store.dispatch('removePopupCallBack');
			} else if (this.refreshPagination) {
				this.refreshPagination = false;
				this.checkRegion();
				this.updatePagination(Object.keys(this.jsonData.leaderboard.table).length);
			}
		},

		methods: {
			initPagination: function (len) {
                /*console.log(len)
                 console.log(this.jsonData.leaderboard.table[this.pgNum]);*/
				var _this = this;
				$('#pagination').bootpag({
					total:        len,		// total pages
					page:         1,		// default page
					maxVisible:   5,	// visible pagination
					leaps:        true,	// next/prev leaps through maxVisible
					firstLastUse: true, first: '←', last: '→',
					wrapClass:    'pagination',
					activeClass:  'active', disabledClass: 'disabled',
					nextClass:    'next', prevClass: 'prev',
					lastClass:    'last', firstClass: 'first'
				}).on("page", function (event, num) {
					_this.pgNum = num;
					//$(this).bootpag({total: 10, maxVisible: 10}); // ... after content load -> change total to 10
				});
			},

			updatePagination: function (len) {
				this.pgNum = 1;
				$('#pagination').bootpag({
					total: len,
					page:  1
				});
			},

			loadRegion: function (num) {
				//console.log(num)
				var childData = {
					//child:this.child, // TODO:capture page name from app
					child: "leaderboard",
					url:   "app/leaderboard"+((this.publicSite) ? "-public":""),
					data:  {
							local_authority: ((num) ? num:this.defaultRegion),
							public: ((this.publicSite) ? 1:0)
					       }
				};
				this.$store.dispatch('load', childData);
			},

			checkRegion: function () {
				if(!this.publicSite){
					this.showSchool = (this.jsonData.school.local_authority_id == this.jsonData.leaderboard.local_authority_selected || this.jsonData.leaderboard.local_authority_selected == this.defaultRegion) ? true : false;
				}
			},

			pgGroup: function (num) {
				return Math.ceil(num / 10);
			},

			changeRegion: function () {
				var childData = {
					child: "leaderboard",
					data:  {
						type:    "region",
						content: {
							regions:                  this.jsonData.regions,
							local_authority_selected: this.jsonData.leaderboard.local_authority_selected
						},
						buttons: [
							{txt: "Ok", val: "region"}
						]
					}
				};
				this.$store.dispatch('popup', childData);
			},

			showInfo: function (i) {
				//console.log(i);
				var childData = {
					child: "leaderboard",
					data:  {
						type:    "info",
						content: {
							schoolData: i,
							modes:      this.jsonData.modes
						},
						buttons: [
							{txt: "Close", val: null}
						]
					}
				};
				this.$store.dispatch('popup', childData);

				this.showChart(i);
			},

			showChart: function (e) {
				var arr = [];
				for (var i in e.modes) {
					arr.push(e.modes[i]);
				}
				//console.log('info is: ' + arr);
				//arr=[0,1,0,0,0,2,2,0,0]; // temp data
				var gData = {
					//labels: ['walk', 'bus', 'bike', 'car', 'train', 'scooter', 'share', 'park', 'field'],
					//series: [6, 7, 10, 3, 5, 8, 2, 2, 3]
					series: arr
				}

				var pieOptions = {
					low:       0,
					showLabel: false
					// labelOffset: 30,
					// chartPadding: 30,
					// labelDirection: 'explode',
					// labelInterpolationFnc: function(value) {
					//   if ( value != 0 ){
					//     return Math.round((value / gData.series.reduce(sum) * 100) * 10) / 10 + '%';
					//   }
					// }
				}

				$('.ct-chart').show();

				var sum = function (a, b) {
					return a + b
				};

				setTimeout(function () {
					new Chartist.Pie('.ct-chart--pie', gData, pieOptions);
				}, 400);

			}
		}
	}

</script>

<style></style>