.c-arrow {
	display:inline-block;
	height: 100px;
	width: calc( 50% - 35px );
}
.c-arrow__body {
	display:inline-block;
	background: $color-orange;
	border-radius: 5px  0 0 5px;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width:calc( 100% - 30px );

	.c-icon--l {
		display: inline-block;
		fill:#fff;		
		margin: 15px 0 -10px 15px;
	}
}
.c-arrow__head{
	display: inline-block;
	border-style: solid;
	height: 0;
	margin: 0 0 -46px;
	width: 0;
}

.c-arrow--right {
	float:left;
	.c-arrow__head{
		border-color: transparent transparent transparent $color-orange;
		border-width: 50px 0 50px 30px;
		float:right;
	}
	.c-arrow__body {
		border-radius: 5px  0 0 5px;
	}
}
.c-arrow--left {
	
	margin-right: -25px;
	margin-left: 70px;

	.c-arrow__head{
		border-color: transparent $color-green transparent transparent ;
		border-width: 50px 30px 50px 0;
		float:left;
	}
	.c-arrow__body {
		background: $color-green;
		border-radius: 0 5px 5px 0;
	}
}

.c-arrow__vs {
	background: $color-lightgrey;
	border-radius: 50%;
	border: 2px solid #aaa;
	color: #aaa;
	display: inline-block;
	height: 50px;
	line-height:45px;
	margin:-25px 10px 0;
	text-align: center;
	width: 50px;

    margin: 25px 10px 0;
    text-align: center;
    width: 50px;
    position: absolute;



}
.c-arrow__txt {
	color: #fff !important;
	display:inline-block;
	line-height: 20px;
	margin: 15px 0 -15px;

	.c-arrow--left &{
		margin: 15px 0 -15px 30px;
	}
}
.c-arrow__desc,
.c-arrow__title {
	color: #fff;
	display: block;
	width: 150px;
}