#background {
	overflow: hidden;
}
.c-bg{
	display: block;
	height: 100vh;
	position: absolute;
	width: 100%;
}

.c-bg--sun{
	background: url(../img/svg/sun.svg) no-repeat;
	background-size: 150px 150px;
	height:150px;	
	left:60%;
	top:100px;
	transform-origin: 50% 50%;
	width:150px;
	z-index: 2;
	transform: translateZ(0);
	@include animation('rotatingSun 90s linear infinite');	
}

.c-bg--clouds {	
	background-image: url(../img/cloud.png);
	background-repeat: repeat-x;
	background-size: 300% auto;
	opacity: 0.5;
	width:99%;
	z-index: 3;
	@include animation('animatedClouds 1200s linear infinite');
	transform: translateZ(0);
}

// @include keyframes(glowingSun) {
// 	0%	{ @include filter-drop-shadow(0px, 0px, 3px, #FFF4D0);}
// 	50% { @include filter-drop-shadow(0px, 0px, 30px, #FFF4D0);}
// 	100%{ @include filter-drop-shadow(0px, 0px, 3px, #FFF4D0);}
// }

@include keyframes(rotatingSun) {
	0%	{ transform: rotate(0)}
	100%{ transform: rotate(360deg)}
}

@include keyframes(animatedClouds) {
	from { background-position: 0 200px; }
	to { background-position: -200% 200px; }
}

// RAIN
// =============================================================
.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(0,153,214,.3) ), to(rgba(255,255,255,0.1))  );
  background: -moz-linear-gradient(top, rgba(0,153,214,.3) 0%, rgba(255,255,255,.1) 100%);
	width:1px;
	height:89px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;

  
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}

.loader {
	min-height: 900px;
}