
.c-btn {
	display: inline-block;
	position: relative;
	height: 25px;
	min-width: 210px;

	.jumbotron &{
		min-width: 230px;
		margin-bottom: 40px;

		.fa-plus:before {
		    color: #fff;
		}
	}

	&.c-btn--close{
		position: absolute;
	    top: -5px; /* -12px */
    	right: -11px; /* 35px */
	}
}

.c-btn__content {
	border: none;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-family: $font-body;
	font-weight: bold;
	font-size: 1.5rem;
	left:0;
	position:absolute;
	padding: 10px 20px;	
	text-align: center;
	top:0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	transition: all ease-in-out .05s;
	width: 100%;

	.c-btn--green &{
		background: $color-green;
		@include btn-shadow(3px, $color-button-shadow);
		color: #fff;
	}

	.c-btn--white &{
		background: #fff;		
		//border:2px solid $color-green;
		@include btn-shadow(3px, $color-button-shadow);
		color: $color-green;

		.o-page--weather &{
			margin-left: 310px;
		}
	}
	.c-btn--red &{
		background: $color-red;		
		@include btn-shadow(3px, $color-red);
		color: #fff;
	}
	

	.c-btn:hover &{
		box-shadow:none;
		margin-top:3px;		
	}
}

.c-btn-square {
	cursor: pointer;
	display:inline-block;
	height: 50px;
	width: 62px;
    vertical-align: top;

    &--help {
    	position: absolute;
   		top: 70px;
   		margin-left: 310px;
   		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   			top: 130px;
   		}
    }
	
}


.c-btn-square__content {
	background: $color-green;
	border-radius: 2px;
	@include btn-shadow(3px, $color-button-shadow);
	color: #fff;
	display: block;
	height: 45px;
	font-size: 1.2rem;
    font-weight: bold;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	transition: ease-in-out all .1s;
	text-align: center;
    line-height: 45px;
	width: 60px;

	.c-icon--s {
		fill: #fff;
		margin-top:5px;
	}

	.c-btn-square:hover &{
		box-shadow: none;
		margin-top:3px;
		margin-left: 3px;
	}

	.c-btn-square.active &{
		background: $color-orange;
		box-shadow: 0 0 1px rgba(0,0,0,.3);
		margin: 3px 0 -3px 3px;
		
	}	
}

.c-btn-triangle {
	display: inline-block;
    width: 0;
    height: 0;
    cursor: pointer;
    margin-top: 10px;

    &.inactive{
    	opacity: 0.2;
    	cursor: auto;
    }	
}
.c-btn-triangle__content{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 26.0px 15px 0;
	border-color: transparent $color-green transparent transparent;
	display: inline-block;

	@include filter-shadow(2px, $color-green);
	
	.c-btn-triangle--right &{
		border-width: 15px 0 15px 26.0px;
		border-color: transparent transparent transparent $color-green;
	}

	.c-btn-triangle--white &{
		border-color: transparent #fff transparent transparent;
		@include filter-shadow(2px, #fff);	}

	
	.c-btn-triangle--right.c-btn-triangle--white &{
		border-color: transparent transparent transparent #fff;
	}

	&:hover {
		-webkit-filter: none;
		filter: none;
		margin-top:3px;
		margin-bottom:-3px;
	}

}
.c-btn-triangle--right {
	float: right;
	margin-right:50px;
	
}
.c-btn-triangle--left {
	float: left;
}

.c-btn--xs{
	min-width: 30px;
	.c-btn__content{
		width: 30px;
    	font-size: 2rem;
   		padding: 0;
   		/* &.c-btn__content--close {
		    width: 41px;
		    font-size: 2.6rem;
		} */
	}
	
	.c-popup__modes &{
		min-width: 35px;
	}

}

.c-popup__modes  .c-btn--xs .c-btn__content{
	width: 35px;
	padding: 0 0 5px;
}