.chart {
	height: 350px;
	margin: 60px 0 20px;
}
.ct-bar {
	stroke-width: 60px !important;
	box-shadow: 3px 3px 0 #ccc;
}
.c-stats__graph {
	margin-top: 50px;
}
.ct-chart {
	height: 100%;
	//-webkit-filter:drop-shadow(3px -3px 0px #ccc), drop-shadow(6px -6px 0px #000);
}
.ct-series-a { .ct-bar { stroke: $color-walk; } .ct-slice-pie { fill:  $color-walk;  } .ct-bar-label { fill:#fff; }}
.ct-series-b { .ct-bar { stroke: $color-bus; } .ct-slice-pie  { fill: $color-bus; } .ct-bar-label { fill:#fff; }}
.ct-series-c { .ct-bar { stroke: $color-bike; } .ct-slice-pie  { fill: $color-bike; } .ct-bar-label { fill:#fff; }}
.ct-series-d { .ct-bar { stroke: $color-car; } .ct-slice-pie  { fill: $color-car; } .ct-bar-label { fill:#fff; }}
.ct-series-e { .ct-bar { stroke: $color-train; } .ct-slice-pie  { fill: $color-train; } .ct-bar-label { fill:#fff; }}
.ct-series-f { .ct-bar { stroke: $color-scooter; } .ct-slice-pie  { fill: $color-scooter; } .ct-bar-label { fill:#fff; }}
.ct-series-g { .ct-bar { stroke: $color-share; } .ct-slice-pie  { fill: $color-share; } .ct-bar-label { fill:#fff; }}
.ct-series-h { .ct-bar { stroke: $color-parkride; } .ct-slice-pie  { fill: $color-parkride; } .ct-bar-label { fill:#fff; }}
.ct-series-i { .ct-bar { stroke: $color-taxi; } .ct-slice-pie  { fill: $color-taxi; } .ct-bar-label { fill:#fff; }}
.ct-series-j { .ct-bar { stroke: $color-wheelchair; } .ct-slice-pie  { fill: $color-wheelchair; } .ct-bar-label { fill:#fff; }}

.ct-chart-pie {
	.ct-label {
		font-size: 1.2rem;

		.c-popup__content &{
			text-shadow: 1px 1px 0px #fff;
		}
	}
}

.ct-chart--bar {
	.ct-bar-label {
		font-size: 1.6rem;
		/* text-shadow:
   -1px -1px 0 rgba(0,0,0, .2),  
    1px -1px 0 rgba(0,0,0, .2),
    -1px 1px 0 rgba(0,0,0, .2),
     1px 1px 0 rgba(0,0,0, .2); */
     text-shadow: 2px 2px 3px rgba(0,0,0,1);
    }
}

.ct-chart--duo {
	.ct-bar {
		stroke-width: 30px !important;
		box-shadow: 3px 3px 0 #ccc;
	}
	.ct-series-a {
		.ct-bar { stroke: $color-orange; }
	}
	.ct-series-b {
		.ct-bar { stroke: $color-green; }
		transform: translate(20px,0px);
	}
	.ct-chart-bar {
		margin-left: -10px;
	}
}
