.c-compare__head {
	height: 70px;

}
.c-compare__title {
	display: inline-block;
	font-size: 1.6rem;
	line-height: 50px;    
}
.c-compare__menu {
	float: right;

	.c-btn-square {
		width:80px;
	}
	.c-btn-square__content {
		color:#fff;
		width: 75px;
	}
}

.c-compare__columns {
	align-items: flex-top;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.c-compare__column {
	border-radius: 5px;	
	flex-basis: 20%;
	filter: drop-shadow(1px 1px 10px rgba(0,0,0,.1));	
	height:100%;
	position: relative;
	width:100%;

	.c-ribbon {
		left: 0;
		margin-left: auto; 
		margin-right: auto; 
		right: 0; 
		top: 20px;
		width: 90%;
	}

	.c-icon--xl {
		display:block;
		margin: 0 auto;
	}
}
.c-compare__column-content {
	background: rgba(255,255,255,1);
	border-radius: 5px;
	margin:0 auto;
	padding: 80px 10px 40px;
	width:80%;
	line-height: 1.4rem;
    text-align: center;

	.c-compare-week__item {
		margin-top:30px;
		position: relative;

		&:not(:last-child){
		border-bottom: dashed #ececec;
    	padding-bottom: 30px;
    }
	}
	.c-compare-week__pupilsno {
		top: 80px;
		left:0;
		right:0;
		font-size: 2rem;
		color:#fff;
		position:absolute;
		width:40px;
		margin:0 auto;
	}
}
.c-compare-week__modes {
	.c-icon {
		fill: #fff;
	    z-index: 999;
	    margin: 0 auto;
	    position: absolute;
    	left: 0;
    	right: 0;    
	}
	.c-icon--xl {
		top: 30px;
	}
	.c-icon--s {
		top: 165px;
	}
	margin-bottom: 30px;
}
.c-compare-week__desc {
	text-align: center;
    margin: 0 0 5px;

    &.last {
    	margin: 40px 0 0 ;
    }

&--walk 		{ color: $color-walk }
&--bus 			{ color: $color-bus }
&--bike 		{ color: $color-bike }
&--car			{ color: $color-car }
&--train 		{ color: $color-train }
&--scooter 		{ color: $color-scooter }
&--metro 		{ color: $color-metro }
&--share 		{ color: $color-share }
&--park 		{ color: $color-parkride }
&--taxi 		{ color: $color-taxi }
&--wheelchair 	{ color: $color-wheelchair }

}
.c-chart-key{
    margin-left: 60px;
    margin-top: 25px;
}

