.c-container {
	//background: #fff;
	padding:20px;
	border-radius: 10px;
	//box-shadow:1px 1px 5px rgba(0,0,0,.1);
	margin-bottom: 30px;
	position:relative;

}
.container-main {
	min-height: calc(100vh - 372px);
}

.c-container__title {
	display: inline-block;
	margin: 0 20px 0 0;
}

.c-container--white {
	background: #fff;
	box-shadow:1px 1px 5px rgba(0,0,0,.1);
}
.c-container--whatsnext {
	padding-bottom:30px;
	.c-btn {
		margin-left: 50px;
	}
}
.c-container--travel {
	box-shadow:none;
	background: url(../img/shelf.png) bottom no-repeat;
	background-size: 100% 280px;
}
.c-container--branch {
	box-shadow:none;
	background:none;
	margin-top:30px;
	&:before {
		background: url(../img/svg/branch.svg) no-repeat;
		background-size: auto 100%;
		content:'';
		width: 100%;
		position:absolute;
		display:block;
		height:200px;
		top:0px;
	}
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}