.c-dots{
  list-style-type:none;
  // -webkit-filter:blur(5px) contrast(10);
  // filter:blur(5px) contrast(10);
  filter:url('#goo');
  padding:0;
  margin:0;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:10px;
  left:0;
  top:0;
  right: 0;
  position:relative;
  height: 140px;
}
.c-dot{
  display:block;
  vertical-align:middle;
  border-radius:100%;
  width:50px;
  height:50px;
  margin-left:auto;
  margin-right:auto;
  cursor:pointer;
  color:white;
  position:absolute;
  z-index:2;
  left:0;
  right:0;
  top:131px;

}

.c-dot--big {
	height: 120px;
	width:120px;
	top:0;

	
	 /* Old browsers */
	

}

.c-dot--walk 		{ background: $color-walk ; span {color: $color-walk }}
.c-dot--bus 		{ background: $color-bus ; span {color: $color-bus }}
.c-dot--bike 		{ background: $color-bike ; span {color: $color-bike }}
.c-dot--car			{ background: $color-car ; span {color: $color-car}}
.c-dot--train 		{ background: $color-train ; span {color: $color-train}}
.c-dot--scooter 	{ background: $color-scooter ; span {color: $color-scooter}}
.c-dot--metro     { background: $color-metro ; span {color: $color-metro}}
.c-dot--share 		{ background: $color-share ; span {color: $color-share}}
.c-dot--park 		{ background: $color-parkride ;	 span {color: $color-parkride}}
.c-dot--taxi 		{ background: $color-taxi ;	 span {color: $color-taxi}}
.c-dot--wheelchair    { background: $color-wheelchair ;  span {color: $color-wheelchair}}