footer {
	background: url(../img/footer.png) no-repeat bottom;
	background-size: 100% auto;
	height: 320px;
	position:relative;
	width: 100%;
	z-index: 9;

	.container {
		display: block;
	    position: absolute;
	    bottom: 0;
	    color: #efefef;
	    left: 0;
	    right: 0;
	    margin: 0 auto 15px;

		
	    .fa,
	    .text-center {
	    	color: #efefef !important;
	    	span,
	    	a {
	    		color: #efefef !important;
	    	}
	    	a:hover{
				text-decoration: underline;
	    	}
	    }
	}
}