.c-icon--xs {
	height: 25px;	
	width: 25px;
}
.c-icon--s {
	height: 35px;	
	width: 35px;
}
.c-icon--l {
	height: 60px;	
	width: 60px;
}
.c-icon--xl {
	height: 100px;	
	width: 100px;
}
.c-icon--xxl{
	height: 135px;
    width: 135px;
}
.c-icon--label {
	background: $color-green;
    border-radius: 50%;
    fill: #fff;
    padding: 15px;
    border: 2px dashed #fff;
    box-shadow: 0 0 0 4px $color-green;
    margin: 5px auto 5px;
}

.c-icon--orange {
	fill: $color-orange;
}

.c-icon--round {
	border-radius: 50%;
	height: 80px;	
	width: 80px;

	svg {
		fill: #fff;
		margin-top: 8px;
	}
}

.c-icon--walk 		{ background: $color-walk; }
.c-icon--bus 		{ background: $color-bus; }
.c-icon--bike 		{ background: $color-bike; }
.c-icon--car		{ background: $color-car; }
.c-icon--train 		{ background: $color-train; }
.c-icon--scooter 	{ background: $color-scooter; }
.c-icon--metro 		{ background: $color-metro; }
.c-icon--share 		{ background: $color-share; }
.c-icon--park 		{ background: $color-parkride; }
.c-icon--taxi 		{ background: $color-taxi; }
.c-icon--wheelchair	{ background: $color-wheelchair; }

