.c-info-block {
	border-radius: 5px;
	background: $color-blue;
	color: #fff;
	flex-basis: 33%;
	margin: 0 10px;
	padding: 10px;
}

.c-info-block__icon {
	background: #fff;
	border-radius:50%;
	color: $color-blue;
	display: inline-block;
	font-size: 3rem;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.c-info-block__txt {
	color: #fff;
	display: inline-block;	
	line-height: 30px;
	margin-top: -25px;
	text-align: center;
	vertical-align: middle;    
	width:calc(100% - 60px);
}