.c-key{
	align-items: flex-end;
	display: flex;
	width: 100%;


}

.c-key__item {
	flex-basis: 100%;
	
	text-align: center;
	width: 80px;



	.c-icon--round {
		margin: 0 auto 5px;
		width:80px;
	}


}
.c-key__no {
	
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    width: 75%;
    text-align: center;
    margin: 0 auto;

    span {
    	color: #fff;
    	font-size: 1.3rem;
    }

    &--walk { background: $color-walk; }
    &--bus { background: $color-bus; }
    &--bike { background: $color-bike; }
    &--car { background: $color-car; }
    &--train { background: $color-train; }
    &--scooter { background: $color-scooter; }
    &--metro { background: $color-metro; }
    &--share { background: $color-share; }
    &--park { background: $color-parkride; }
    &--taxi { background: $color-taxi; }
    &--wheelchair { background: $color-wheelchair; }

}

