.c-leaderboard {
  width: 100%;

  th {
    font-size: 0.8rem;
    padding: 6px 0;
  }

  td {
    background: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    width: 10%;
    padding: 6px;

    &.c-leaderboard__pos {
      font-size: 2rem;
    }

    &.c-leaderboard__school {
      width: 65%;
    }

    &.c-leaderboard__points {
      font-size: 2rem;

      small {
        color: inherit;
        font-size: 1.3rem;
      }
    }

    &.c-leaderboard__info {
      width: 15%;
    }
  }

  .c-icon--xs {
    position: relative;
    top: 2px;
  }

  .c-btn {
    min-width: 80px;
    height: 40px;
    .c-btn__content {
      line-height: 1.4rem;
      font-size: 1rem;
      border-radius: 5px;
      height: 40px;
    }
  }

  // zebra striping
  tr:nth-child(odd) {
    td {
      background: #efefef;
    }
  }

  &--solo {
    margin: 10px 0 20px;
  }

  &--us {
    border: solid 1px #efefef;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, .4);

    tr {
      td {
        background: $color-orange !important;
        color: #fff !important;
      }
    }

    svg {
      fill: #fff;
    }
  }

}


