.c-logo{
	background: url(../img/logo.png) no-repeat;
	background-size: auto 100%;
	display: inline-flex;
	//float:right;	
	@include filter-drop-shadow(1px, 1px, 10px, rgba(255,255,255,.8));
	height: 165px;
	margin-top: -90px;
	width: 210px;

	position: absolute;
    //right: -180px;
    left: 35px;
    top: 160px;

	.public &{
		top: 101px;
	}
}