.c-main-menu {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
    vertical-align: middle;
	width: 100%;
	box-shadow: 2px 0 2px rgba(0,0,0,.2);
}

.c-main-menu__btn {
	font-weight:bold;
	font-size:1.5rem; //1.2
	color:#fff;
	background: $color-orange;
	border-bottom: 5px solid $color-green;
	//border-right:1px #dedede solid;
	flex-basis: 32%;
	height: 100%;
	padding:15px 0;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	transition: all ease-in-out .1s;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		flex-basis: 31.8%;
	}

	&:hover {
		background: lighten($color-orange, 4);
	}

	&.router-link-active {
		background: $color-green;
		border-bottom: 5px solid $color-green;
	}
	.c-icon--xs {
		display: inline-block;
		margin: 0 15px -5px -10px;
	}

	&--s {
		flex-basis: 4%;	

		.c-icon--xs {
			margin: -15px auto -5px;
		}
	}

	& svg{
		fill:#fff;
	}
}