.c-page-title {
	display: block;
	margin: 40px 0;
	margin-left: 310px;


	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		//margin: 40px 0 50px 1.5%;
		margin-top: 27px;
		margin-right: 0;
		margin-bottom: 50px;
	}

	.o-page--weather &{
		margin: 40px 0 20px;
		margin-left: 310px;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			//margin: 40px 0 20px 1.5%;
			margin-top: 27px;
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	.o-page--leaderboard &{
		margin: 40px 0 0;
		margin-left: 310px;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			//margin: 40px 0 0 1.5%;
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 0;
		}
	}


.c-page-title__ribbon {
	background: $color-orange;
	//border-radius: 5px 5px 0 0;
	//font-size: 16px!important;
	position: relative;
	left: -30px;
	//text-align: center;
	width: 50%;

.c-page-title__ribbon__content{
h2 {
   /* font-size: 18px!important;
   margin:0px; */
   color: #fff;
   padding: 15px 50px;
   }
h2:before {
   content: '';
   position: absolute;
   width: 50px;
   height: 65px;
   right: -34px;
   top: 16px;
   background: $color-blue-ribbon-drop;
   z-index:-1;
}
h2:after {
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   border-top: 32px solid transparent;
   border-left: 60px solid $color-blue-ribbon-drop;
   border-bottom: 33px solid transparent;
   margin: 1px 75px 0 10px; 
   right: -169px;
   /* background: $color-green; */
   z-index: -2;
}
}

//.c-page-title__ribbon__content:before, 
.c-page-title__ribbon__content:after {
   border-color: $color-blue-ribbon-fold transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
/* .c-page-title__ribbon__content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   } */
.c-page-title__ribbon__content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }

}


}