//
// Pagination (multiple pages)
// --------------------------------------------------
.c-pagination{
  text-align:center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;

  > li {
    display: inline-block; // Remove list-style and block-level defaults
    @include btn-shadow(3px, $color-green);
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 6px 12px;
      line-height: 1.6;
      text-decoration: none;
      color: $color-green;
      background-color: #fff;
      border: 1px solid $color-green;
      margin-left: -1px;
    }
    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      > a,
      > span {
        margin-left: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      > a,
      > span {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
    &:hover {
      &:not(.disabled){
      margin:3px 0 -3px;
      box-shadow: 0 0 3px rgba(0,0,0, .3) inset;}
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: $color-green;
      background-color: #fff;
      border-color: $color-green;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #fff;
      background-color: $color-green;
      border-color: $color-green;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: #ddd;
      background-color: #fff;
      border-color: $color-green;
      cursor: not-allowed;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
/* .pagination-lg {
  @include pagination-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
} */

// Small
/* .pagination-sm {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
} */
