.c-paper {

    background: url(../img/notebookbgy.jpg);
	display:block;
	padding: 20px 0;
	position:relative;
	text-align: center;
	width: 100%;

	&:before, &:after	{
		position: absolute;
		width: 40%;
		height: 10px;
		content: ' ';
		left: 2px;
		bottom: 6px;
		background: transparent;
		-webkit-transform: skew(-3deg) rotate(-1deg);
		-moz-transform: skew(-3deg) rotate(-1deg);
		-ms-transform: skew(-3deg) rotate(-1deg);
		-o-transform: skew(-3deg) rotate(-1deg);
		transform: skew(-3deg) rotate(-1deg);
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		z-index: -1;
	} 

	&:after	{
		left: auto;
		right: 2px;
		-webkit-transform: skew(3deg) rotate(1deg);
		-moz-transform: skew(3deg) rotate(1deg);
		-ms-transform: skew(3deg) rotate(1deg);
		-o-transform: skew(3deg) rotate(1deg);
		transform: skew(3deg) rotate(1deg);
	}

	&--big{
		padding:20px;
		text-align: left;
	}

}