.c-podium {
	align-items: flex-end;
	display:flex;
	margin: 30px 0;
}
.c-podium__item {
	flex-basis: 33%;
	text-align: center;
	padding: 10px 0;
	position: relative;


	&:nth-child(1){

		.c-podium__info{
			padding-bottom: 50px;
		}
	}
	&:nth-child(2){

		.c-podium__info{
			padding-bottom: 100px;

		}
	}
}
.c-podium__cup{
	color:#fff;
	display:block;
	font-size: 1.6rem;
	height:70px;
	line-height:50px;
	margin: 5px auto;
	text-align:center;
	width:70px;

	&--gold{
		// background-color: #CC9900;
		// -webkit-mask-image: url(../img/svg/cup.svg);
  //   	mask-image: url(../img/svg/cup.svg);	
		// background-size: 100% auto;	    

		.c-icon--xl {
			fill:#CC9900;
		}
	}
	&--silver{
		.c-icon--xl {
			fill:#7B8EA5;
		} 
	}
	&--bronze{
		.c-icon--xl {
			fill:#CD7F32;
		}   
	}

	span{
		color: #fff;
		position: relative;
		z-index: 9;
	}

	.c-icon--xl {
		position: absolute;
		top: -8px;
		left: 0;		
	    z-index: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;

	}
}
.c-podium__shadow {
	background: rgba(0,0,0,.3);
    position: absolute;
    height: 3px;
    width: 40px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: -8px auto 0;
    -webkit-filter: blur(2px);
}
.c-podium__info{
	background: #fff;
	border-radius: 5px 5px 0 0 ;
	padding: 10px;
	text-align: center;

	box-shadow: 1px -1px 0px #efefef,
				2px -2px 0px #efefef,
				3px -3px 0px #efefef,
				4px -4px 0px #efefef,
				5px -5px 0px #efefef,
				6px -6px 0px #efefef,
				7px -7px 0px #efefef,
				8px -8px 0px #efefef,
				9px -9px 0px #efefef,
				10px -10px 0px #efefef,
				11px -11px 0px #efefef,
				12px -12px 0px #efefef,
				13px -13px 0px #efefef,
				5px 1px 10px #999;
}
.c-podium__name {
	font-size: 1.3rem;
	margin: 0 0 5px;
}
.c-podium__details {
	color: darken($color-lightgrey, 30);
	font-size: 0.8rem;
	margin: 0 0 5px;
}
.c-podium__points {
	font-size: 3rem;

	span {
		display:block;
		font-size: 0.8rem;
	}

	small {
		font-size: 2.2rem;
	}
}