.c-popup {
	background-color:rgba(52, 155, 219, 0.9);
 	height: 100%;  
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	transition: ease-in-out all .2s;
	width: 100%;
	z-index:1000;

	&.v-leave-active,
	&.v-enter-active {
		opacity: 0;
	}

	#alert{
		li{
			padding-bottom: 5px;
		}
		a {
			text-decoration: underline;
		    color: $color-blue;
		}
	}
}
.c-popup__box {
	background: #fff;	
	border-radius: 10px;   
    margin: 100px auto 50px;
    padding: 30px 20px 50px;
    position: relative;
    transition: cubic-bezier(.49,.64,.17,1.26) all 1s;
    width: 60%;

	
	.v-leave-active &,
    .v-enter-active &{
		margin: 150px auto 50px;
		opacity: 0;
    }

    .c-btn {
    	margin-top: 30px;
    }
}
.c-popup__modes {
	display:flex;
	flex-wrap: wrap;

	h4 {
		margin: 0 0 -15px;
	}
	.c-box {
		margin:10px;
		min-width: 30%;
	}
}
.c-popup__modeno{
	display: inline-block;
	font-size: 1.8rem;
	margin: 0 15px;
}
.c-popup__content {

	.chart {
		display: inline-block;
		height:350px;		
		margin: 0;
		width: 40%;		
	}
}
.c-popup__key {
	width: 59%;
	display: inline-block;
    vertical-align: top;
    margin-top: 20px;

	.c-key {
		flex-wrap: wrap;
	}
	.c-key__item {
		flex-basis: 20%;
		margin-bottom: 40px;
	}
}

.c-box{
  cursor:pointer;
}
.c-btn-small{
  min-width: 150px;
  margin: 20px 40px 0;

  &.c-btn--close{
  	min-width: 120px;
  }
}
.c-btn--green--border{
  border: 2px solid;
}