.c-pupils-counter {
	display: inline-block;

	.c-popup__box &{
		left: 20px;
    	margin: 30px 0 0 10px;
    	position: absolute;
	}
}
.c-pupils-counter__in {
	font-size:2rem;
	font-weight: 100;
}
.c-pupils-counter__container {
	.c-btn{
		float:right;
	}
}