.c-ribbon {
   background: $color-orange;
   border-radius: 5px 5px 0 0;
   font-size: 16px!important;
   position: absolute;
   text-align: center;
   width: 100%;
}
.c-ribbon h1 {
   font-size: 18px!important;
   color: #fff;
   margin:0px;
   padding: 15px 10px;
   }

.c-ribbon__content:before, .c-ribbon__content:after {
   border-color: $color-green transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.c-ribbon__content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.c-ribbon__content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
