.c-stats {
	align-items: stretch;
	display: flex;
}

.c-stats__content {
	display:block;
	width: 100%;
}
.c-stats__charts {
	align-items: stretch;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-basis: 75%;
	text-align:center;
	
}
.c-stats__info {
	cursor: pointer;
	display:inline-flex;
	flex-direction:column;
	text-align:center;
	flex-basis: 25%;
	text-align: center;
	height: 100%;

	.c-stats__item {
		background: #ffe8f1;
		box-shadow: 2px 0 1px rgba(0,0,0,.1) inset, 0px 0 1px rgba(0,0,0,.1);
		display: flex;
 		flex-direction: column;
  		justify-content: center;
		height: 150px;
		margin: 10px 0;
		position:relative;
		width:100%;

		.c-icon--xl {
			fill:#fff;
			margin: 0 auto;
			//stroke: $color-green;			
		}
		.c-icon--xxl {
			fill: #fff;
			margin: -5px auto -10px;
		}
		&:before {
			position: absolute;
			width: 80%;
			height: 10px;
			content: ' ';
			right: 4px;
			bottom: 9px;
			background: transparent;
			-webkit-transform: skew(3deg) rotate(4deg);
			-moz-transform: skew(3deg) rotate(4deg);
			-ms-transform: skew(3deg) rotate(4deg);
			-o-transform: skew(3deg) rotate(4deg);
			transform: skew(3deg) rotate(4deg);
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
			z-index: -1;
		} 
		&:nth-child(1) { background: #D5DBC1; }
		&:nth-child(2) { background: #F9C0D3; }
		&:nth-child(3) { background: #CADCF2; }

		&:nth-child(1) {
			.c-icon--xl {
				background: $color-green;
			    border-radius: 50%;
			    padding: 15px;
			    border: 2px dashed #fff;
			    box-shadow: 0 0 0 4px $color-green;
			    margin: 5px auto 5px;
			}
		}
	}	
}


.c-stats__menu{
	position: absolute;
	z-index: 999;
	margin: 10px 0 0 10px;
}

.c-stats__key{
	display:block;
	//padding: 0 15px;
	width: 100%;
}
.c-stats__points {
	margin: -80px auto -15px;
    display: block;
    font-size: 2rem;
    left: 0;
    right: 0;
    position: absolute;
    small {
    	font-size: 1.4rem;
    }
}
.c-stats__pupilsno {
	top: 65px;
	left:0;
	right:0;
	font-size: 2rem;
	position:absolute;
}
