.c-tab-menu {
	display:block;
	margin:0 0 -20px 50px;
	padding-top: 50px;
}
.c-tab-menu__btn {
	background: #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: -1px -1px 1px rgba(0,0,0,.1), -1px -1px 1px rgba(0,0,0,.1) inset;
	color: #ccc;
	cursor: pointer;
	display:inline-block;
	font-size: 0.9rem;
	padding:10px;
	position:relative;
	z-index: 1;

	&:hover {
		color: $color-grey;
	}

	&.active{
		background: #FFF9EF;
		box-shadow: -1px -1px 1px rgba(0,0,0,.1);
		color: $color-grey;
		font-size: 1.2rem;
		z-index: 9;
	}
}
