.c-travel-type {
	flex-basis: 100%;
}
.c-travel-type__container {
	align-items: flex-end;
	display: flex;
	height: 50vh;
	margin-top:50px;
	width: 100%;

	.c-icon--l{
		fill: #fff;	
		margin-top: 10px;
	}


}
.c-travel-type__no {
	border-radius:30px;
	color: #fff;
	font-size: 1.6rem;
	padding: 10px;
	margin: 0 auto 30px;	
	text-align:center;
	width: 80px;	

	.c-travel-type--walk &{ background: $color-walk ; }
	.c-travel-type--bus &{ background: $color-bus ; }
	.c-travel-type--bike &{ background: $color-bike ; }
	.c-travel-type--car &{ background: $color-car ; }
	.c-travel-type--train &{ background: $color-train ; }
	.c-travel-type--scooter &{ background: $color-scooter ; }
	.c-travel-type--metro &{ background: $color-metro ; }
	.c-travel-type--share &{ background: $color-share ; }
	.c-travel-type--park &{ background: $color-parkride ; }
	.c-travel-type--taxi &{ background: $color-taxi ; }
	.c-travel-type--wheelchair &{ background: $color-wheelchair ; }

}

.c-travel-type__btn {	
	background: $color-lightgrey;
	border-radius: 50%;
	box-shadow: 2px 5px 0px #d8d8d8, 2px 5px 15px #999;
	cursor: pointer;
	display:block;
	height: 80px;
	line-height: 80px;
	margin:25px auto 0;
	text-align: center;
	transition: all .1s ease-in-out;
	width: 80px;	

	.c-travel-type--walk &{ 
		background: $color-walk ;
		box-shadow: 2px 5px 0px darken($color-walk, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--bus &{ 
		background: $color-bus ;
		box-shadow: 2px 5px 0px darken($color-bus, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--bike &{ 
		background: $color-bike ;
		box-shadow: 2px 5px 0px darken($color-bike, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--car &{ 
		background: $color-car ;
		box-shadow: 2px 5px 0px darken($color-car, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--train &{ 
		background: $color-train ;
		box-shadow: 2px 5px 0px darken($color-train, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--scooter &{ 
		background: $color-scooter ;
		box-shadow: 2px 5px 0px darken($color-scooter, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--metro &{ 
		background: $color-metro ;
		box-shadow: 2px 5px 0px darken($color-metro, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--share &{ 
		background: $color-share ;
		box-shadow: 2px 5px 0px darken($color-share, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--park &{ 
		background: $color-parkride ;
		box-shadow: 2px 5px 0px darken($color-parkride, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--taxi &{ 
		background: $color-taxi ;
		box-shadow: 2px 5px 0px darken($color-taxi, 10%), 2px 5px 15px #999;
	}
	.c-travel-type--wheelchair &{ 
		background: $color-wheelchair ;
		box-shadow: 2px 5px 0px darken($color-wheelchair, 10%), 2px 5px 15px #999;
	}

	&:hover {
		box-shadow: none;
		margin: 30px auto -5px;

	}	
}
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}
@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

.c-travel-type__title{
	margin: 10px 0 0 0;
	text-align: center;
}

.c-travel-type__graph {
	box-shadow: 1px -1px 0px #d8d8d8,
				2px -2px 0px #d8d8d8,
				3px -3px 0px #d8d8d8,
				4px -4px 0px #d8d8d8,
				5px -5px 0px #d8d8d8,
				6px -6px 0px #d8d8d8,
				7px -7px 0px #d8d8d8,
				8px -8px 0px #d8d8d8,
				9px -9px 0px #d8d8d8,
				10px -10px 0px #d8d8d8,
				11px -11px 0px #d8d8d8,
				12px -12px 0px #d8d8d8,
				13px -13px 0px #d8d8d8,
				5px 1px 10px #999;
	background: $color-lightgrey;
	border-radius: 3px;	
	display:block;
	height: 0px;
	min-height: 1px;
	margin: 0 auto;	
	transition:all 1s cubic-bezier(.17,.67,.57,.95);
	width: 80px;

	
}


