.slide-fade-enter-active {
  	transition: all 1s ease-in-out;
    -webkit-transition-delay: .3s; 
    transition-delay: .3s;
    z-index: 99;
  
}
.slide-fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	z-index: 99;
}
.slide-fade-enter{
	margin-left: 1000px;
	margin-right: -1000px;
	opacity: 0;
	z-index: 99;
 
}
.slide-fade-leave-active {
	margin-left: -1000px;
	margin-right: 1000px;
	opacity: 0;
	z-index: 99;
}


.slide-fade-out-enter-active {
  	transition: all 1s ease-in-out;
    -webkit-transition-delay: .3s; 
    transition-delay: .3s;
    z-index: 99;
  
}
.slide-fade-out-leave-active {
  	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  	z-index: 99;
}
.slide-fade-out-enter{
  	opacity: 0;
  	z-index: 99;
 
}
.slide-fade-out-leave-active {
	margin-left: -1000px;
	margin-right: 1000px;
	opacity: 0;
	z-index: 99;
}

