.c-weather{
	align-items: flex-end;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	position: relative;
	z-index:99;

	.c-weather__item {
		margin: 140px -50px 0 50px;
	}
}

.c-weather__item {
	cursor: pointer;
	display:block;
	text-align:center;
	flex-basis: 25%;	
	position: relative;
	width:150px;
	z-index:11;
	@include filter-drop-shadow(0px, 0px, 1px, rgba(0,0,0, .4));
	-webkit-animation-timing-function: cubic-bezier(0.068, -0.055, 0.0265, 1.55);
	transition: ease-in-out all .3s;

	&:hover {
		transform-origin: 50% -110px;
		@include animation('animatedWeather .8s linear infinite');
	}
	:after {
		background: #999;
		content:'';
		display:block;
		left:50%;
		right:50%;
		top:-70px;
		height:70px;
		position: absolute;
		width: 1px;
		z-index: 10;

	}
	&:nth-child(n+5){
		margin:50px 50px 0 -50px;
		z-index: 2;
		:after {
			background: #999;
			content:'';
			display:block;
			left:50%;
			right:50%;
			top:-290px;
			height:290px;
			position: absolute;
			width: 1px;
			z-index: 10;
		}
		&:hover {
			transform-origin: 50% -350px;
			@include animation('animatedWeather .8s linear infinite');
		}
	}
	&.inactive {
		
		.c-weather__badge {
			background: #ccc;
			box-shadow: 0 0 0 4px #ccc;
		}
		.c-weather__name {	
			@include stroke(5px, #ccc);
		}
	}
}

.c-weather__badge {
	background: $color-green;
	border-radius: 50%;
	border: 2px dashed #fff;  
    box-shadow: 0 0 0 4px $color-green;
	display: block;
	height: 150px;
	width: 150px;
	margin:0 auto;
	transition: ease-in-out all .3s;

	.c-icon--xl {
		fill: #fff;
		margin-top: 20px;
	}
}
.c-weather__name {
	$shadow-thick: 5px;
	color: #fff;
	font-size: 1.6rem;
	margin-top:-5px;
	@include stroke(5px, $color-green);
	text-align:center;
	transition: ease-in-out all .3s;
}

	

@include keyframes(animatedWeather) {
	0%	{ transform: rotate(0) rotateY(0)}
	25% { transform: rotate(2deg) rotateY(5deg)}
	50%	{ transform: rotate(0) rotateY(0)}
	75%	{ transform: rotate(-2deg) rotateY(-5deg)}
	100%{ transform: rotate(0) rotateY(0)}
}

