@mixin btn-shadow($width, $color) {
    $width: $width + 0;
    $shadow: #{$width} #{$width} 10px rgba(0,0,0,.3);

    box-shadow: $shadow;
}
@mixin btn-shadowOLD($width, $color) {
    $width: $width + 0;
    $shadow: 0 0 0 transparent;
    $i: 0;

    @while ($i < $width) {
        $i: $i + 1;
        $shadow: #{$shadow}, #{$i}px #{$i}px 0 darken($color,10);        
    }
    
    $shadow: #{$shadow}, #{$width} #{$width} 10px rgba(0,0,0,.3);

    box-shadow: $shadow;
}

@mixin filter-shadow($width, $color) {
    $width: $width + 0;
    $shadow: drop-shadow(0 0 0 transparent);
    $i: 0;

    @while ($i < $width) {
        $i: $i + 1;
        $shadow: #{$shadow} drop-shadow(#{$i}px #{$i}px 0 darken($color,10));        
    }
    
    $shadow: #{$shadow} drop-shadow(#{$width} #{$width} 5px rgba(0,0,0,.2));

    

-webkit-filter: $shadow;
-moz-filter: $shadow;
-ms-filter: $shadow;
-o-filter: $shadow;
filter: $shadow;
}

