@mixin filter($filter-type,$filter-amount) { 
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin filter-drop-shadow($shadow-x, $shadow-y, $shadow-blur, $shadow-color) {
	-webkit-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
	-moz-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
	-ms-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
	-o-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
	filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
}