$color-lightgrey: #efefef;
$color-grey: #4a4a49; // grey 85

$color-walk: #19ade4;
$color-bus: #f79532;
$color-bike: #ef5696;
$color-scooter: #43b85b;
$color-train: #8a3996;
$color-car: #e31e25;
$color-metro: #fed327;
$color-share: #fed327;
$color-parkride: #a3ce4c;
$color-taxi: #252961;
$color-wheelchair: #0c6ab4;

$color-green: #009ebd; // light blue
$color-orange: #003e59; // dark blue
$color-blue: #009ebd; // light blue
$color-red: #e63c2b; // red
$color-button-shadow: #eeeeee; // light-grey


$color-blue-ribbon-drop: #018aa5;
$color-blue-ribbon-fold: #005768;