
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "./admin/variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";

// Bootstrap
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3";

.navbar-left {
  margin-left: -$navbar-padding-horizontal;

  ~ .navbar-left {
    margin-left: 0;
  }
}
.table-responsive {
	background: #efefef;
}
.page-header {
	border: none;
	font-size: 2rem;
	padding: 0;
  //margin-top: 230px;
  margin-bottom: 50px;
	//margin-left: 60px;
}
.well {
	background:none;
	border: none;
	box-shadow:none;
  //margin-left: 60px;
}
.c-logo {
	margin-top: -340px !important;
}
.container .jumbotron, .container-fluid .jumbotron {
    background: none;
    margin-top: -30px;
    .row {
    	margin-top: 100px;
    }
}
/* .container .jumbotron h1, .container .jumbotron p {
  margin-left: 260px;
} */
.container .row{
  margin-top: 180px;
}
// .panel {
// 	background: none;
//     border: none;
//     box-shadow: none;
//     padding: 0;
// }
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.panel-primary{
  border-color:$brand-primary;
}
.panel-primary>.panel-heading{
  background-color:$brand-primary;
  border-color:$brand-primary;
}
.btn-danger {
    background-color: $brand-warning;
    border-color: darken($brand-warning, 15%);
}
.btn-danger:hover {
    background-color: darken($brand-warning, 15%);
}