// Modules and Variables

@import "settings/colours";
@import "settings/fonts";

@import "tools/text-stroke";
@import "tools/filter";
@import "tools/animation";
@import "tools/btn-shadow";
@import "tools/round";

@import "generic/reset";

@import "elements/elements";

@import "components/header";
@import "components/footer";
@import "components/main-menu";
@import "components/logo";
@import "components/travel-type";
@import "components/container";
@import "components/page-title";
@import "components/button";
@import "components/bg";
@import "components/weather";
@import "components/pupils-counter";
@import "components/stats";
@import "components/icon";
@import "components/key";
@import "components/arrow";
@import "components/tab-menu";
@import "components/compare";
@import "components/ribon";
@import "components/info-block";
@import "components/flex-container"; 
@import "components/leaderboard"; 
@import "components/podium"; 
@import "components/chartist"; 
@import "components/pagination"; 
@import "components/paper"; 
@import "components/popup"; 
@import "components/box"; 
@import "components/vue"; 
@import "components/dots"; 


/*
==================================================================================================================



            SASS folder structure and loading order                 e.g.

________________________________________________________________
\                                                              /
 \                           SETTINGS                         /   - variables, colours
  \                                                          /
   \________________________________________________________/   ---------------------------
    \                                                      /
     \                        TOOLS                       /       - mixins, functions
      \                                                  /
       \________________________________________________/   -------------------------------
        \                                              /
         \                   GENERIC                  /           - normalize, reset
          \                                          /
           \________________________________________/   -----------------------------------
            \                                      /
             \               ELEMENTS             /               - h1-6, a, img
              \                                  /
               \________________________________/   ---------------------------------------
                \                              /
                 \           OBJECTS          /                   - grid, wrapper
                  \                          /
                   \________________________/   -------------------------------------------
                    \                      /
                     \     COMPONENTS     /                       - buttons, containers
                      \                  /
                       \________________/   -----------------------------------------------
                        \              /
                         \    TRUMP   /                           - overrides, hacks
                          \   SHAME  /
                           \        /
                            \      /
                             \    /
                              \  /
                               \/
                                

====================================================================================================================

Block Element Modifier (BEM) naming convention:


Block
=================================
.c-block 
 |_|_________________ First part of the name should be the category , in this case "c" comes from "components"
   |
   |_________________ Second part is the name you give to that component, in this case "block"
                      * the first part and the second part are divided by a single hyphen "-"



Element
=================================
.c-block__header
       |_____________ If you are targeting a part of that block, like the header, you use 2 underscores "__" and then 
                      the name of the component



Modifier
=================================
.c-block--green
       |_____________ If you are targeting a modified version of that block (.e.g. a green block), which has the same 
                      propreties as the original block except a couple of minor modifiers, you use 2 hyphens "--" and 
                      the name of the modifier



*/