
// Fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome";

// Bootstrap
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3";

.navbar-left {
  margin-left: -$navbar-padding-horizontal;

  ~ .navbar-left {
    margin-left: 0;
  }
}

.auth-logo {
  padding-top: 30px;
  padding-bottom: 30px;
}

.panel-login.hide, .panel-warning.hide,
#dashboard-menu.hide, #dashboard-warning.hide{
	display: none;
}

