<template>

  <div id="root-app" v-bind:class="{ 'public': publicSite }">
    
    <Background></Background>
    <MainHeader></MainHeader>
    
    <div class="container">
      <!-- content holder -->
      <transition name="fade" mode="out-in">
        <router-view class="view"></router-view>
      </transition>
    </div>

    <Popup v-bind:popupShow="this.show" v-bind:popupData="this.jsonPopupData"></Popup>
    <MainFooter></MainFooter>

  </div>

</template>


<script>

  import Popup from './components/Popup.vue'
  import MainHeader from './components/MainHeader.vue'
  import MainFooter from './components/MainFooter.vue'
  import Background from './components/Background.vue'

  export default {
    // NOTES: State changes will only be picked up inside a component if it's part of the dom template.
    //        Use 'v-bind:data-item' on the root element of your template to get around this issue.
    components: {
      MainFooter,
      MainHeader,
      Popup,
      Background
    },
  
    props:{
      popupData:Object,
      popupShow:Object
    },
    
    data () {
      return {}
    },

    computed: {
      jsonPopupData: function () {
        return this.$store.state.popupData;
      },
      show: function () {
        return this.$store.state.popupShow;
      },
      publicSite: function () {
        return this.$store.getters.publicSite;
      }
    },

    beforeMount() {
      //console.log("-- App mounted --");
      // check if public page
      if(this.$route.path.indexOf("public")!=-1){
        this.$store.dispatch('setPublicSite');
      }
      if(this.getIEVersion()){ this.sendBrowserAlert(); }
    },

    /*updated () {
      if(this.getIEVersion()){ this.sendBrowserAlert(); }
    },*/

    methods: {
      getIEVersion: function() {
        var sAgent = window.navigator.userAgent;
        var Idx = sAgent.indexOf("MSIE");

        // If IE, return version number.
        if (Idx > 0) 
          return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));

        // If IE 11 then look for Updated user agent string.
        else if (!!navigator.userAgent.match(/Trident\/7\./)) 
          //return 11;
          return false;

        else
          //return 0; //It is not IE
          return false;
      },

      sendBrowserAlert: function() {
        var childData = {
          child:"app",
          data:{
            type:"alert",
            msg:"The Somerset Schools Challenge website has been designed to work with modern web browsers. We have detected that you are not using one of our recommended browsers and would strongly suggest you ask your IT department to upgrade you.<br/><br/>Please use one of the links below for more information:<br/><br/><ul><li><a href='http://www.apple.com/safari' target='_blank'>Apple Safari</a></li><li><a href='https://www.google.com/chrome' target='_blank'>Google Chrome</a></li><li><a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' target='_blank'>Microsoft Internet Explorer</a></li><li><a href='http://www.browserfordoing.com' target='_blank'>Microsoft Edge</a></li><li><a href='https://www.mozilla.org/en-US/firefox/new' target='_blank'>Mozilla Firefox</a></li></ul>",
            buttons:[
              {txt:"OK", val:null}
            ]
          }                    
        };
        this.$store.dispatch('popup', childData);
      }
    }

  }

</script>

<style></style>
