<template>

  <main>
    <div class="c-page-title">
      <h4>Hello <span id="className">{{this.data.classroom.name}}</span></h4>
      <h2>Today's journey to school</h2>
    </div>

    <div class="c-container">
      <div class="c-stats">
        <div class="c-stats__content">
          <div class="c-stats__charts">
            <div class="c-stats__menu">
              <div class="c-btn-square" v-bind:class="{ active: (chartType=='bar') }" @click="showChart('bar')">
                <div class="c-btn-square__content">
                  <svg class="c-icon--s" viewBox="0 0 100 100">
                    <use xlink:href="#svg-barchart"></use>
                  </svg>
                </div>
              </div>
              <div class="c-btn-square" v-bind:class="{ active: (chartType=='pie') }" @click="showChart('pie')">
                 <div class="c-btn-square__content">
                   <svg class="c-icon--s" viewBox="0 0 100 100">
                    <use xlink:href="#svg-piechart"></use>
                  </svg>
                 </div>
              </div>
              <!-- <div class="c-btn-square">
                 <div class="c-btn-square__content">
                   <svg class="c-icon--s" viewBox="0 0 50 50">
                    <use xlink:href="#svg-walk"></use>
                  </svg>
                 </div>
              </div> -->
            </div>

            <div class="c-paper">
              <div class="chart">
                  <div class="ct-chart ct-chart--bar"></div>
                  <div class="ct-chart ct-chart--pie"></div>
              </div>
              <div class="c-stats__key">
                <div class="c-key">
                  <div v-for='item in this.data.modes' class="c-key__item">
                    <div :class="'c-icon--round c-icon--' + item.class_name">
                      <!-- viewbox custom change -->
                      <svg v-if='item.class_name === "wheelchair"' class="c-icon--l" viewBox="0 0 40 50">
                        <use :xlink:href="'#svg-' + item.class_name"></use>
                      </svg>
                      <svg v-else class="c-icon--l" viewBox="0 0 50 50">
                        <use :xlink:href="'#svg-' + item.class_name"></use>
                      </svg>
                    </div>
                    <div class="c-key__label">
                      {{ item.name }}
                    </div>                 
                  </div>               
                </div>
              </div>
            </div>

            
          </div>  


        </div>
        <div class="c-stats__info">
          <div class="c-stats__item">
            <svg class="c-icon--xl" viewBox="0 0 50 50">
              <use :xlink:href="'#svg-' + this.data.weather[this.data.weather_selected-1].class_name"></use>
            </svg>
            <div class="c-stats__text">The weather was {{(this.data.weather[this.data.weather_selected-1].name).toLowerCase()}}</div>
            
          </div>

          <div class="c-stats__item">
            <svg class="c-icon--xl" viewBox="0 0 50 50">
              <use xlink:href="#svg-pupils"></use>
            </svg>
              <div class="c-stats__pupilsno">{{ this.data.pupils_in }}</div>
             <div class="c-stats__text">Pupils came to school today</div>
          </div>

          <div class="c-stats__item">
            <div class="c-stats__text">
              <svg class="c-icon--xxl" viewBox="0 0 50 50">
                <use xlink:href="#svg-medal"></use>
              </svg>
              <span class="c-stats__points">{{ this.data.percent_sustainable_trips }}<small>%</small></span>
              <div> healthy journeys</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="c-container c-container--whatsnext"> 
        <h4 class="c-container__title">  What's next?</h4>
        <router-link  class="c-btn c-btn--green" to="/compare"><div class="c-btn__content"> Compare</div></router-link>
        <router-link  class="c-btn c-btn--green" to="/leaderboard"><div class="c-btn__content"> Leaderboard</div></router-link>
    </div>
  </main>

</template>

<script>

  export default {
    
    props:{
      child:{
        type:String,
        required:true
      },
      data:{
        type:Object,
        required:true
      }
    },
    
    data () {
      return {
        chartType:"",
        defaultTab:"bar",
        gData:{},
        barOptions:{},
        pieOptions:{},
        sum:null
        /*modeData:JSON.parse(JSON.stringify(this.data)),
        graphUnit:0*/
      }
    },

    mounted() {  
      this.showChart(this.defaultTab);
    },

    /*beforeUpdate () {
      console.log("-- results beforeUpdate --");
    },*/

    methods: {
      showChart: function(e){
        var _this=this;
        var arr=[];
        this.chartType=e;
        for(var i in this.data.modes){
          arr.push(this.data.modes[i].counter);
        }
        //arr=[0,1,0,0,0,2,2,0,0]; // temp data
        this.gData = {
              //labels: ['walk', 'bus', 'bike', 'car', 'train', 'scooter', 'share', 'park', 'field'],
              //series: [6, 7, 10, 3, 5, 8, 2, 2, 3]
              series: arr
            };

        this.sum = function(a, b) { return a + b };
        this.pieOptions = {
          low:0,
          labelOffset: 90,
          chartPadding: 30,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            if ( value != 0 ){
              return Math.round((value / _this.gData.series.reduce(_this.sum) * 100) * 10) / 10 + '%';
            }
          } 
        };
        this.barOptions = {
          seriesBarDistance: 10,
          distributeSeries: true,
          chartPadding: 0,
          fullWidth: true,
          showLabel: false,
          low:0,
          axisX: {
            showGrid: false,
            showLabel: false,
            offset: 0,
            categorySpacing: 0
          },
          axisY: {
            showGrid: false,
            showLabel: false,
            offset: 0,
            onlyInteger: true
          },
          scales: {
            xAxes: [{
                categorySpacing: 0
            }]
          },plugins: [
            Chartist.plugins.ctBarLabels()
          ]
        };
        $('.ct-chart').fadeOut();

        setTimeout(function(){ 
          switch (_this.chartType) {
            case 'pie':
              $('.ct-chart--pie').fadeIn();             
              new Chartist.Pie('.ct-chart--pie', _this.gData, _this.pieOptions);
              break;
            case 'bar':
              $('.ct-chart--bar').fadeIn();              
              new Chartist.Bar('.ct-chart--bar', _this.gData, _this.barOptions);  
              $('.ct-bar-label').hide();
              break;
          }
        }, 400); 

        function querySelectorAll(selector) {
          var foundNodes = this._node.querySelectorAll(selector);
          //console.log(foundNodes);
          return foundNodes.length ? new Chartist.Svg.List(foundNodes) : null;
        }
                    
      }

    }
  }

</script>

<style>



</style>