<template>

  <div id="home">
    <div class="loader" v-if="!this.loaded">
      Loading...
    </div>
    <div v-else>
      <transition name="slide-fade-out">
        <div v-if="page=='travel'">
         <TravelMode v-bind:child="this.page" v-bind:data="this.jsonData"></TravelMode>
        </div>
      </transition>

      <transition name="slide-fade">
        <div v-if="page=='weather'">
          <Weather v-bind:child="this.page" v-bind:data="this.jsonData"></Weather>
        </div>
      </transition>

      <transition name="slide-fade">
        <div v-if="page=='results'">
          <DisplayResults v-bind:child="this.page" v-bind:data="this.jsonData"></DisplayResults>
        </div>
      </transition>

    </div>

  </div>

</template>

<script>

// Vendor imports
import Vue from 'vue'
import VueResource from 'vue-resource'
import VueRouter from 'vue-router'
import { mapGetters } from 'vuex'

// App imports
import TravelMode from './TravelMode.vue'
import Weather from './Weather.vue'
import DisplayResults from './DisplayResults.vue'


export default {

  components: {
    TravelMode, Weather, DisplayResults
  },

  props:{
    child:String,
    data:Object
  },

  data () {
    return {
      initial:true,
      page:"",
    }
  },

  computed: {
    jsonData: function () {
      return this.$store.state.pageData;
    },
    loaded: function () {
      return this.$store.state.loaded;
    },
    ...mapGetters({
      jumpTo: 'jumpTo',
      jump: 'jump',
    })
    /* jumpTo: function () {
      return this.$store.getters.jumpTo;
    },
    jump: function () {
      return this.$store.getters.jump;
    } */
  },

  watch: {
    jumpTo () {
      //console.log("-- Home watch jumpTo --");
      this.triggerPage();
    }
  },

  beforeMount () {
    // TODO:set loader in popup??
    var childData = {
      // TODO:capture page name from app
      //child:this.child,
      child:"home",
      url:"app/trips"
    };
    this.$store.dispatch('load', childData);
  },

  beforeUpdate () {
    //console.log("-- Home beforeUpdate --");
    this.triggerPage();
  },

  updated () {
    //console.log("-- Home updated --");
  },

  methods: {
    triggerPage () {
      if(this.initial){
        this.initial=false;
        if (!this.jsonData.pupils_in){
          this.page="travel";
        } else if (!this.jsonData.weather_selected){
          this.page="weather";
        }else{
          this.page="results";
        }
      }else if(this.jump){
        this.page=this.jumpTo;
        this.$store.dispatch('jumpComplete');
      }
    }
  }

}
</script>

<style>

.loader{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding-top:150px;
}

</style>
