<template>

  <main>
    <div class="c-page-title">
      <h4>Good morning <span id="className">{{modeData.classroom.name}}</span></h4>
      <h2>How did you get to school today? </h2>      
    </div>
      
    <!-- <div v-show="loaded"> -->
      <div id="traveltype" class="c-container c-container--travel">
        <div class="c-travel-type__container">
          <div v-for='item in modeData.modes' v-bind:class="'c-travel-type c-travel-type--' + item.class_name" v-bind:data-item='item.class_name'>
            <div class="c-travel-type__no">{{ item.counter }}</div>
            <div class="c-travel-type__graph" v-bind:style="'height:'+ (item.counter * graphUnit) + 'px'"></div>
            <div class="c-travel-type__btn ripple-effect" v-on:click="addTrip(item)"> 
              <svg class="c-icon--l" viewBox="0 0 50 50">
                <use v-bind:xlink:href="'#svg-' + item.class_name"></use>
              </svg>
            </div>
            <div class="c-travel-type__title">{{ item.name }}</div>
          </div>
        </div>
      </div>

      <div id="class-details" class="c-container c-container--empty c-pupils-counter__container">
        <div class="c-pupils-counter">
          <span class="c-pupils-counter__in">{{ modeData.pupils_in }}</span>/<span class="c-pupils-counter__total">{{ modeData.classroom.number_of_pupils }}</span>
          pupils have arrived &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="c-btn c-btn--white" v-on:click="editTrip()">
            <div class="c-btn__content">Edit</div>
          </div>
        </div>
        <div class="c-btn c-btn--green js-completeday">
          <button class="c-btn__content" v-on:click="submitData">Save and Continue</button>
        </div>
        <!-- <div class="txt-status clearfix" v-show="saving">
          ..saving
        </div> -->
      </div>
    <!-- </div> -->
  </main>

</template>

<script>

  export default {
    
    props:{
      child:{
        type:String,
        required:true
      },
      data:{
        type:Object,
        required:true
      }
    },
    
    data () {
      return {
        modeData:JSON.parse(JSON.stringify(this.data)),
        graphUnit:0,
        saving:false
      }
    },
    

    beforeCreate () {
      //console.log("-- beforeCreate --");
    },

    created () {
      //console.log("-- created --");
      /*console.log(this.child);
      console.log(this.data);
      console.log(this.modeData);*/
    },

    beforeMount () {
      /*console.log("-- beforeMount --");
      console.log(modeData);
      console.log(this.data);*/
    },

    updated () {
      console.log("-- updated --");
      //this.$store.dispatch('jumpComplete');
    },

    methods: {
      addTrip: function(item) {
        this.graphUnit=($('.c-container--travel').height()-140) / this.modeData.classroom.number_of_pupils;
        if (this.modeData.pupils_in < this.modeData.classroom.number_of_pupils) {
          item.counter+=1;
          this.modeData.pupils_in+=1;
        } else {
          var childData = {
            child:this.child,
            data:{
              type:"alert",
              msg:"All the pupils have arrived! Press select the 'Edit' button to change the totals.",
              buttons:[
                {txt:"OK", val:null}
              ]
            }          
          };
          this.$store.dispatch('popup', childData);
          //alert('popup should say "All the pupils have arrived! Do you want to edit journeys?"');
        }
      },
      editTrip: function() {
        var childData = {
          child:this.child,
          data:{
            type:"edit-modes",
            content: {
              modes:this.prepareModesForSave(this.modeData.modes)
            },
            buttons:[
              {txt:"OK", val:null}
            ]
          }
                    
        };
        console.log('modes are: ' + this.prepareModesForSave(this.modeData.modes));
        this.$store.dispatch('popup', childData);
      },
      //
      submitData: function() {
        this.saving=true;
        var childData = {
          child:this.child,
          url:"app/trips",
          jumpTo:"weather",
          data:{
            modes:this.prepareModesForSave(this.modeData.modes),
            pupils_in:this.modeData.pupils_in,
            weather_selected:(this.modeData.weather_selected!=null)?this.modeData.weather_selected:0
          }
        };
        this.$store.dispatch('save', childData);
      },
      prepareModesForSave: function(arr) {
        var modes=[];
        for (var i in arr) {
          var mode = {
            'id': arr[i].id,
            'name': arr[i].name,
            'class_name': arr[i].class_name,
            'counter': arr[i].counter
          };
          modes.push(mode);
        }
        return modes;
      }
    }

  }

</script>

<style>

.txt-status{
  float: right;
  clear: both;
  padding-top: 30px;
  padding-right: 27px;
}

.clearfix:after{
  content:"";
  display:table;
  clear:both;
}

</style>