<template>

  <main v-bind:data-item="popupCallBack">
    <div class="c-page-title">
      <h4>Hello <span id="className">{{modeData.classroom.name}}</span></h4>
      <h2>How did you get to school today?</h2>
    </div>

    <a class="c-btn-square c-btn-square--help" href="javascript:void(0);" onclick="javascript:introJs().start();">
    <span class="c-btn-square__content">Help</span></a>
      
    <!-- <div v-show="loaded"> -->
      <div id="traveltype" class="c-container c-container--travel">
        <div class="c-travel-type__container">
          <div v-for='item in modeData.modes' v-bind:class="'c-travel-type c-travel-type--' + item.class_name" v-bind:data-item='item.class_name'>
            <div class="c-travel-type__no">{{ item.counter }}</div>
            <div class="c-travel-type__graph" v-bind:style="'height:'+ (item.counter * graphUnit) + 'px'"></div>

            <div v-if='item.class_name === "walk"' class="c-travel-type__btn ripple-effect" v-on:click="addTrip(item)" data-step="1" data-intro="To add a journey, click on the button that represents the mode of transport used" data-position='top'> 
              <svg class="c-icon--l" viewBox="0 0 50 50">
                <use v-bind:xlink:href="'#svg-' + item.class_name"></use>
              </svg>
            </div>

            <div v-else class="c-travel-type__btn ripple-effect" v-on:click="addTrip(item)"> 
              <!-- viewbox custom change -->
              <svg v-if='item.class_name === "wheelchair"' class="c-icon--l" viewBox="0 0 40 50">
                <use v-bind:xlink:href="'#svg-' + item.class_name"></use>
              </svg>
              <svg v-else class="c-icon--l" viewBox="0 0 50 50">
                <use v-bind:xlink:href="'#svg-' + item.class_name"></use>
              </svg>
            </div>

            <div class="c-travel-type__title">{{ item.name }}</div>
          </div>


        </div>
      </div>

      <div id="class-details" class="c-container c-container--empty c-pupils-counter__container">
        <div class="c-pupils-counter" >
          <span class="c-pupils-counter__in">{{ modeData.pupils_in }}</span>/<span class="c-pupils-counter__total">{{ modeData.classroom.number_of_pupils }}</span>
          pupils have arrived &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="c-btn c-btn--white" v-on:click="editTrip()">
            <div class="c-btn__content" data-step="2" data-intro="If you want to correct the number of pupils who used a mode of transport, click on this button" data-position='right'>Edit Journeys</div>
          </div>
        </div>
        <div class="c-btn c-btn--green js-completeday">
          <button class="c-btn__content" v-on:click="submitData" data-step="3" data-intro="When you have finished entering all the trips for the day, click this button to move onto the next step" data-position='left'>Next</button>
        </div>
        <!-- <div class="txt-status clearfix" v-show="saving">
          ..saving
        </div> -->
      </div>
    <!-- </div> -->
  </main>

</template>

<script>

  export default {
    
    props:{
      child:{
        type:String,
        required:true
      },
      data:{
        type:Object,
        required:true
      }
    },
    
    data () {
      return {
        modeData:JSON.parse(JSON.stringify(this.data)),
        graphUnit:0,
        saving:false
      }
    },
    
    computed: {
      popupCallBack: function () {
        return this.$store.getters.popupCallBack;
      },
      popupData: function () {
        return this.$store.getters.popupData;
      }
    },

    beforeCreate () {
      //console.log("-- travel beforeCreate --");
    },

    created () {
      //console.log("-- travel created --");
    },

    beforeMount () {
      //console.log("-- travel beforeMount --");
    },

    mounted () {
      //console.log("-- travel mounted --");
      this.graphUnit=($('.c-container--travel').height()-200) / this.modeData.classroom.number_of_pupils;
    },

    beforeUpdate () {
      //console.log("-- travel beforeUpdate --");
      if(this.popupCallBack=="edit"){
        this.modeData.modes=this.convertModesToJson(this.popupData.content.modes);
        this.modeData.pupils_in=this.popupData.content.pupils_in;
        this.modeData.classroom.number_of_pupils=this.popupData.content.number_of_pupils;
        this.$store.dispatch('removePopupCallBack');
      }
    },

    updated () {
      //console.log("-- travel updated --");
    },

    methods: {
      addTrip: function(item) {
        if (this.modeData.pupils_in < this.modeData.classroom.number_of_pupils) {
          item.counter+=1;
          this.modeData.pupils_in+=1;

          var audioElement = document.createElement('audio');
          audioElement.setAttribute('src', 'http://www.noiseforfun.com/waves/interface-and-media/NFF-menu-05-a.wav');
          audioElement.play();

        } else {
          var childData = {
            child:this.child,
            data:{
              type:"alert",
              msg:"All pupils have arrived. Close this message and select “Edit journeys” if you want to change today’s journeys.",
              buttons:[
                {txt:"OK", val:null}
              ]
            }          
          };
          this.$store.dispatch('popup', childData);
        }
      },

      editTrip: function() {
        this.graphUnit=($('.c-container--travel').height()-200) / this.modeData.classroom.number_of_pupils;
        var childData = {
          child:this.child,
          data:{
            type:"edit-modes",
            content: {
              modes:this.prepareModesForSave(this.modeData.modes),
              pupils_in:this.modeData.pupils_in,
              number_of_pupils:this.modeData.classroom.number_of_pupils
            },
            buttons:[
              {txt:"OK", val:"edit"}
            ]
          }                    
        };
        this.$store.dispatch('popup', childData);
      },
      
      submitData: function() {
        this.saving=true;
        var childData = {
          child:this.child,
          url:"app/trips",
          jumpTo:"weather",
          data:{
            modes:this.prepareModesForSave(this.modeData.modes),
            pupils_in:this.modeData.pupils_in,
            weather_selected:(this.modeData.weather_selected!=null)?this.modeData.weather_selected:0 // ajax error if null
          }
        };
        this.$store.dispatch('save', childData);
      },

      prepareModesForSave: function(arr) {
        var modes=[];
        for (var i in arr) {
          var mode = {
            'id': arr[i].id,
            'name': arr[i].name,
            'class_name': arr[i].class_name,
            'counter': arr[i].counter
          };
          modes.push(mode);
        }
        return modes;
      },

      convertModesToJson: function(arr) {
        var modes={};
        for (var i in arr) {
          modes[arr[i].id]={
            'id': arr[i].id,
            'name': arr[i].name,
            'class_name': arr[i].class_name,
            'counter': arr[i].counter
          }
        }
        //console.log(a);
        return modes;
      }
    }

  }

</script>

<style>

/*.txt-status{
  float: right;
  clear: both;
  padding-top: 30px;
  padding-right: 27px;
}

.clearfix:after{
  content:"";
  display:table;
  clear:both;
}*/

</style>