<template>

<main class="o-page--weather">
  <div class="c-page-title">
    <h4>Hello <span id="className">{{this.data.classroom.name}}</span></h4>
    <h2>What was the weather like today?</h2>
  </div>

  <div class="c-btn c-btn--white" v-on:click="returnToTravelModes()">
    <div class="c-btn__content">← &nbsp; Go Back</div>
  </div>
  <div class="c-container c-container--branch">
    <div class="c-weather">

      <div class="c-weather__item" v-for='item in modeData.weather' v-bind:class="{ inactive: item.selected }">
        <div class="c-weather__badge" v-on:click="addWeather(item)">
          <svg class="c-icon--xl" viewBox="0 0 50 50">
            <use v-bind:xlink:href="'#svg-' + item.class_name"></use>
          </svg>
        </div>
        <div class="c-weather__name">{{ item.name }}</div>
      </div>

    </div>
  </div>

  <div class="c-container c-container--empty c-pupils-counter__container">
    <div class="c-pupils-counter">
      <span class="c-pupils-counter__in">{{ modeData.pupils_in }}</span>/<span class="c-pupils-counter__total">{{ modeData.classroom.number_of_pupils }}</span>
      pupils have arrived
    </div>
    <div class="c-btn c-btn--green js-saveday">
      <button class="c-btn__content" v-on:click="submitData">Save</button>
    </div>
    <!-- <div class="txt-status clearfix" v-show="saving">
      ..saving
    </div> -->
  </div>
</main>

</template>

<script>

  export default {

    props:{
      child:{
        type:String,
        required:true
      },
      data:{
        type:Object,
        required:true
      }
    },

    data () {
      return {
        modeData:JSON.parse(JSON.stringify(this.data)),
        saving:false
      }
    },

    computed: {
      popupCallBack: function () {
          return this.$store.getters.popupCallBack;
      }
    },

    watch: {
      popupCallBack () {
        //console.log("WEATHER -- watch popupCallBack");
        if(this.popupCallBack=="yes"){
          this.saveData();
          this.$store.dispatch('removePopupCallBack');
        }
      }
    },

    beforeUpdate () {
      //console.log("WEATHER -- beforeupdate");
    },

    methods: {
      addWeather: function(item) {
        this.modeData.weather_selected=item.id;
        for (var i in this.modeData.weather){
          this.modeData.weather[i].selected=true;
        }
        item.selected=false;
      },

      returnToTravelModes: function() {
        //console.log("-- returnToTravelModes --");
        this.$store.dispatch('jumpTo', "travel");
      },

      submitData: function() {
        if(!this.modeData.weather_selected){
          var childData = {
            child:this.child,
            data:{
              type:"alert",
              msg:"Select an icon to show what the weather was like this morning before continuing.",
              buttons:[
                {txt:"OK", val:null}
              ]
            }
          };
          this.$store.dispatch('popup', childData);
        }else if(this.modeData.pupils_in<this.modeData.classroom.number_of_pupils){
          var childData = {
            child:this.child,
            data:{
              type:"alert",
              msg:"Not all pupils have arrived yet. Are you ready to save today’s journeys?",
              buttons:[
                {txt:"No", val:null},
                {txt:"Yes", val:"yes"}
              ]
            }
          };
          this.$store.dispatch('popup', childData);
        }else{
          this.saveData();
        }
      },

      saveData: function() {
        this.saving=true;
        var childData = {
          child:this.child,
          url:"app/trips",
          jumpTo:"results",
          data:{
            weather_selected:this.modeData.weather_selected
          }
        };
        this.$store.dispatch('save', childData);
      }
    }

  }

</script>

<style>

.txt-status{
  float: right;
  clear: both;
  padding-top: 30px;
  padding-right: 27px;
}

.clearfix:after{
  content:"";
  display:table;
  clear:both;
}

</style>